img.profile {
	border: 1px solid #ddd;
}
div.divider {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    left: 0px;
    margin-top: -6px;	
}
div.child {
	margin-top: 20px;
}
span.input-text-btn {
    /*border-top-right-radius: 0px;*/
    /*border: 0px;	*/
}
textarea.input-text {
    /*border-top-left-radius: 0px;*/
    /*border: 0px;*/
    resize: none;
    color:#777;	
}
div.eval {
    color: #e85c41;
    padding: 5px;
}    
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
span.writer {
    color: #777;
    float: left;
    padding-right: 5px;    
}
div.star {
    color: #777;
    position: absolute;
    margin-left: 40px;    
}
button.right {
    margin-top:5px;
    width:80px;
}
button.left {
    margin-right:5px;
    margin-top:5px;
    width:80px;
}