<div>
	<ul class="list-group" [style.width]="clockWidth + 'px'">
		<li class="list-group-item clock" [style.height]="rowHeight + 'px'" [style.font-size]="fontSize + 'px'">
			&nbsp;
			<span 	class="pull-right klass-time-guide" 
					[style.margin-top]="textMarginTop + 'px'">부터</span>
			<span 	class="pull-right klass-time" 
					[style.margin-top]="textMarginTop + 'px'">
				<strong>{{clockTimeBegin.time_hh_mm_12}}</strong>
			</span>
		</li>
		<li 	class="list-group-item clock bottom" 
				[style.height]="rowHeight + 'px'" 
				[style.font-size]="fontSize + 'px'">
			&nbsp;
			<span 	class="pull-right klass-time-guide" 
					[style.margin-top]="textMarginTop + 'px'">까지</span>
			<span 	class="pull-right klass-time" 
					[style.margin-top]="textMarginTop + 'px'">
				<strong>{{clockTimeEnd.time_hh_mm_12}}</strong>
			</span> 
		</li>
	</ul>	
</div>