<div>
	<ul class="list-group" style="width:190px;">
		<li class="list-group-item clock">
			<span class="pull-left klass-time-guide">FROM</span>
			&nbsp;
			<span class="pull-right">
				<span class="badge klass-time">{{clockTimeBegin.time_hh_mm_12}}</span>
			</span>
		</li>
		<li class="list-group-item clock">
			<span class="pull-left klass-time-guide">TO</span>
			&nbsp;
			<span class="pull-right">
				<span class="badge klass-time">{{clockTimeEnd.time_hh_mm_12}}</span>
			</span> 
		</li>
	</ul>	
</div>