<div class="clock">
	<img  *ngIf="clock3hrUrl" src="{{clock3hrUrl}}" alt="Simple Clock BG" class="rotate150" style="position: absolute;">
    <img  *ngIf="clockBGUrl" src="{{clockBGUrl}}" alt="Simple Clock BG">
</div>
<!--
	http://edutechwiki.unige.ch/en/Using_SVG_with_HTML5_tutorial
	3.6 Including SVG through the SVG image element
-->
<!--
<svg id="circle" height="60" width="60" 
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
  <image x="0" y="0" height="60" width="60" transform="translate(30) rotate(45 50 50)"  xlink:href="huge-red-circle.svg" />
</svg>
-->