<div *ngIf="clockHoursUrl" class="clock">

	<img  	*ngIf="clockNoticeUrl" 
			[style.height]="clockHeight + 'px'"
			src="{{clockNoticeUrl}}" 
			alt="Simple Clock Hours" 
			style="position: absolute;z-index: 100;">

	<img  	*ngIf="clockHoursUrl" 
			[style.height]="clockHeight + 'px'" 
			src="{{clockHoursUrl}}" 
			alt="Simple Clock Notice"
			[class.rotate330]="rotate === 330"
			[class.rotate300]="rotate === 300"
			[class.rotate270]="rotate === 270"
			[class.rotate240]="rotate === 240"
			[class.rotate210]="rotate === 210"
			[class.rotate180]="rotate === 180"
			[class.rotate150]="rotate === 150"
			[class.rotate120]="rotate === 120"
			[class.rotate90]="rotate === 90"
			[class.rotate60]="rotate === 60"
			[class.rotate30]="rotate === 30"
			style="position: absolute;">

    <img  	*ngIf="clockBGUrl" 
    		[style.height]="clockHeight + 'px'"
    		src="{{clockBGUrl}}" 
    		alt="Simple Clock BG">
    		
</div>
