<nav 	[ngClass]="{'navbar-fixed-bottom':isFixedBottom}"
		class="navbar navbar-default cage cc-navbar">

	<ul class="list-group my-style">
		
		<!-- First Row -->
		<li class="list-group-item my-style first">
			<div style="text-align: center;">
				<span class="badge my-style">카페클래스 선생님되기</span>
			</div>
		</li>
		
		<!-- Second Row -->
		<li class="list-group-item my-style">

			<div class="container">

			    <div class="collapse navbar-collapse">
					
					<ul class="nav navbar-nav">
						<li>
							<a 	routerLink="/class-center"
								(click)="onClickInfo($event)">카페클래스 소개</a>
						</li>
						<li>
							<a 	routerLink="/class-center"
								(click)="onClickContact($event)">제휴문의</a>
						</li>
						<li>
							<a 	routerLink="/policy"
								(click)="onClickPolicy($event)">이용약관</a>
						</li>
						<li>
							<a 	routerLink="/private-info"
								(click)="onClickPrivateInfo($event)">개인정보취급방침</a>
						</li>
					</ul>

				</div>

			</div>

		</li>
		
		<!-- Third Row -->
		<li class="list-group-item my-style last">

			<div class="container">
				<div class="collapse navbar-collapse">

					<table class="table layout"> 
						<tbody> 
							<tr>
								<td class="layout width-first">
									<div>
										<img 	class="cafeclass"
												src="../../assets/images/footer/cafeclass_logo_text_bw.svg">
									</div>
								</td>					
								<td class="layout width-second">
									<div class="company-info">
										<small>대표: 정회웅</small>
									</div>
									<div class="company-info">
										<small>사업자 등록번호: 169-02-00152 </small><a class="registry" href="http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=1690200152">사업자 정보확인</a>
									</div>
									<div class="company-info">
										<small>통신판매업신고: 2015-서울송파-1497 서울시 송파구 송파동 29-1</small>
									</div>
									<div class="company-info">
										<small>전화: 070-8958-3811</small>
									</div>
									<div class="company-info">
										<small>개인정보관리책임자: 정회웅 (help@cafeclass.kr)</small>
									</div>
								</td> 					
								<td class="layout width-third">
									<div class="guide">
										<h5>본인 수준, 적절한 수준등을 상담하세요.</h5>
									</div>
									<div>
										<img 	class="kakao img-rounded"
												src="../../assets/images/footer/kakaotalk_cafeclass.jpg">
									</div>
									<div class="work-time">
										<small>[운영시간]오전 10시 - 오후 7시</small>
									</div>
									<div class="work-time">
										<small>[점심시간]오후 12시 - 오후 1시</small>
									</div>							
								</td> 
								<td class="layout width-fourth">
									<div style="padding-top:20px;">
										<div class="my-img-left">
											<img 	class="escrow"
													src="../../assets/images/footer/img_escrow_mark_org.gif">
										</div>
										<div>
											<img 	class="inipay"
													src="../../assets/images/footer/inipay_74x74_gray.png">
										</div>
										<div>
											<img 	class="sgi"
													src="../../assets/images/footer/sgi_secure.png">
										</div>
									</div>
								</td> 
								<td class="layout">
								</td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>		
			
		</li>

	</ul>

</nav>