<!-- http://www.bootply.com/zoupRVbLG4 -->
<div class="container">

	<div class="row">

		<div class="col-md-12 cc-div-col">
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-panel-filter">
				<div class="panel-body">
					<!-- LEVEL -->
					<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_level4.png" alt="test" class="img-circle cc-img-filter">
					<!-- PLACE -->
					<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_station_8th_sp.png" alt="test" class="img-circle cc-img-filter">
					<!-- DATE -->
					<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_week_wed.png" alt="test" class="img-circle cc-img-filter">
					<!-- TIME -->
					<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_time_af.png" alt="test" class="img-circle cc-img-filter">

					<span class="glyphicon glyphicon-search pull-right cc-panel-magnifier" aria-hidden="true"></span>

				</div>
			</div>
		</div>
	  
	</div>

	<div class="row">

		<div class="col-md-3 cc-div-col" *ngFor="let cclass of cclasses">
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-border">
				<div class="panel-heading cc-panel">
					
					<img class="cc-img-class" width="100%;" src={{cclass.classImgLink}} alt={{cclass.title}}>

					<div class="cc-class-filter">

						<!-- LEVEL -->
						<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_level4.png" alt="test" class="img-circle cc-img-filter">
						<!-- PLACE -->
						<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_station_8th_sp.png" alt="test" class="img-circle cc-img-filter">
						<!-- DATE -->
						<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_week_wed.png" alt="test" class="img-circle cc-img-filter">
						<!-- TIME -->
						<img src="http://cafeklass.cdn3.cafe24.com/cafeclass_time_af.png" alt="test" class="img-circle cc-img-filter">
						
					</div>
					
				</div>
				<div class="panel-body cc-panel-class-bg">

					<h4 class="pull-right cc-price">{{cclass.price}} &#8361;</h4>

					<a href="#" class="btn cc-btn" role="button">신청하기</a>
					<a href="#" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>	
					</a>

				</div>
			</div>
		</div>
	  
	</div>
</div>

<!-- Pinterest Version Init -->
<!-- 



/*
*, *:before, *:after {box-sizing:  border-box !important;}

.row {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  -moz-column-gap: 0em;
  -webkit-column-gap: 0em;
}

.menu-category {
  display: inline-block;
  margin:  0.25rem;
  padding:  1rem;
  width:  100%; 
}

.cc-ul{
  margin:0px;
}

.cc-thumbnail {
  padding: 0px;
}

.cc-list-no-top-border {
  border-top: 1px solid #fff;
}

.cc-list-padding {
  padding: 10px;
}

.cc-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 5px;
}
*/

<div class="container">
	<div class="menu row">

	    <ul class="menu-category list-group cc-ul" *ngFor="let cclass of cclasses">
	        <li href="#" class="menu-item list-group-item cc-thumbnail">
	        	<img width="100%;" src="http://cafeclass.kr/wp-content/uploads/2016/09/초중급-영어회화_신천역_카페클래스.jpg" alt="TEST">
	        </li>
	        <li href="#" class="menu-item list-group-item cc-list-no-top-border">{{cclass.id}}</li>
	        <li href="#" class="menu-item list-group-item cc-list-no-top-border">{{cclass.name}}</li>
	        <li href="#" class="menu-item list-group-item cc-list-no-top-border cc-list-padding">
				<a href="#" class="btn btn-primary cc-btn" role="button">신청하기</a>
				<a href="#" class="btn btn-default" role="button">장바구니</a>
	        </li>
	    </ul>

	</div>
</div>
-->
<!-- Pinterest Version Done -->

<router-outlet></router-outlet>
