.row
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 0em;
  -webkit-column-gap: 0em;
 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-md-4
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:33%;
}
.panel {
  width:100%;
}
.cc-panel {
  padding: 0px;
}
.cc-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 5px;
}
.cc-div-col{
  padding-right: 5px;
}

