<!-- http://www.bootply.com/zoupRVbLG4 -->
<div class="container">

	<div class="row">

		<div class="col-md-12 cc-div-col">
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-panel-filter">
				<div class="panel-body">
					
					<!-- 수업 검색을 위한 필터링 컴포넌트 -->
					<klass-filter-tile #selectile (onChangedSelectile)="onChangedSelectile($event)"></klass-filter-tile>

					<!-- 검색 로고 -->
					<span 	class="glyphicon glyphicon-search pull-right cc-panel-magnifier" 
							aria-hidden="true" 
							(click)="search(selectile.getFocusedSelectiles(), searchBox.value)"
							[class.search_disabled]="!isSearchEnabled"
							[class.search_enabled]="isSearchEnabled"
					></span>

					<!-- 검색 창-->
					<input 	id="search-box" 
							class="pull-right form-control cc-panel-search" 
							placeholder="수업을 검색해보세요" 
							#searchBox 
							(click)="clickSearch(searchBox.getFocusedSelectiles(), searchBox.value)" 
							(keyup)="onKeyupSearch(searchBox.value)">

				</div>
			</div>
		</div>
	  
	</div>

	<div class="row">

		<div class="col-md-3 cc-div-col" *ngFor="let keyword of klassKeywords | async">
			<span>{{keyword.name}}</span>
		</div>

		<div class="col-md-3 cc-div-col" *ngFor="let cclass of cclasses" (click)="onSelectKlass(cclass)">
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-border">
				<div class="panel-heading cc-panel">
					
					<img class="cc-img-class" width="100%;" src={{cclass.class_img_url}} onerror="./assets/images/error.png" alt={{cclass.title}}>

					<div class="cc-class-filter">

						<!-- LEVEL -->
						<img src="{{cclass.level_img_url}}" alt="{{cclass.level_kor}}" class="img-circle cc-img-filter">
						<!-- PLACE / SUBWAY STATION -->
						<img src="{{cclass.venue_subway_station_img_url}}" alt="{{cclass.venue_subway_station}}" class="img-circle cc-img-filter">
						<!-- DAY -->
						<img src="{{cclass.days_img_url}}" alt="{{cclass.days_kor}}" class="img-circle cc-img-filter">
						<!-- TIME -->
						<img src="{{cclass.time_begin_img_url}}" alt="{{cclass.time_begin_name}}" class="img-circle cc-img-filter">
						
					</div>
					
				</div>
				<div class="panel-body cc-panel-class-bg">

					<h4 class="pull-right cc-price">{{cclass.price_with_format}} &#8361;</h4>

					<a href="#" class="btn cc-btn" role="button">신청하기</a>
					<a href="#" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>	
					</a>

				</div>
			</div>
		</div>
	  
	</div>
</div>

<router-outlet></router-outlet>
