.row
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-column-gap: 0em;
  -webkit-column-gap: 0em;
 
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.col-md-4
{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width:33%;
}
.panel {
  width:100%;
}
.cc-panel {
  padding: 0px;
}
.cc-no-box-shadow {
  box-shadow: 0 0px 0px rgba(0,0,0,.0);
}
.cc-border {
  border-color: #ddd;
  /*border-color: #e85c41;*/
}
.cc-panel-bg {
  background-color: #fff;
}
.cc-panel-class-bg {
  background-color: #f2f2f2;
}
.cc-class-filter {
  float: left;
  position: absolute;
  top: 0px;
  padding-top: 126px;
  padding-left: 10px;
}

.cc-panel-filter {
  border-color: rgba(232, 92, 65, 0.5);
}
.cc-panel-search {
  width:50%;
  margin: 3px;
  border: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  font-size: 20px;
  color: #e85c41;  
}
.cc-panel-magnifier {
  font-size: 20px;
  padding: 10px;
  color: #e85c41;
}
.cc-img-filter {
  height:40px;
}
.cc-img-magnifier {
  height:40px;
  width:40px;
}
.cc-img-class {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.cc-price {
  color: #e85c41;
  margin: 7px;
}

.cc-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 5px;
}
.cc-div-col{
  padding-right: 5px;
}
.search_disabled{
  opacity: .3;
}
.search_enabled{
  opacity: 1;
}


