<!-- http://www.bootply.com/zoupRVbLG4 -->
<div class="container">
	
	<!-- Search Input Component -->
	<div class="row">
		<div class="col-md-12 cc-div-col">
			<!-- REFACTOR ME -->
			<div class="list-group">
				<button 	type="button" 
							class="list-group-item cc-panel-filter"
							(click)="onClickSearchInput($event, searchBox)"
							(mouseleave)="onMouseLeaveSearchInput($event, searchBox)">
					
					<klass-filter-tile 	#selectile 
										(emitOnInitKlassList)="onInitKlassFilterTile(searchBox)"
										(emitOnChangedSelectile)="onChangedSelectile()">
											
					</klass-filter-tile>

					<div (mouseenter)="onMouseenterMagnifier()" (mouseleave)="onMouseleaveMagnifier()">
						<img 	*ngIf="!isOverMagnifier"
								[class.search_disabled]="!isSearchEnabled"
								[class.search_enabled]="isSearchEnabled"
								src="assets/images/search/magnifier.svg" 
								class="pull-right cc-img-magnifier">
						<img 	*ngIf="isOverMagnifier"
								src="assets/images/search/magnifier_focus.svg" 
								class="pull-right cc-img-magnifier">
					</div>

					<input 	id="search-box" 
							class="pull-right form-control cc-panel-search" 
							placeholder="수업을 검색해보세요" 
							#searchBox
							(keyup.enter)="onKeyupEnterSearch(searchBox.value)"
							(keyup)="onKeyupSearchInput(searchBox.value, searchBox, selectile)">

				</button>
				<!-- 최대 자동 완성 및 추천 갯수는 제한되어 운영한다. 최대 8개-->
				<button *ngIf="recommend0" type="button" class="list-group-item">{{recommend0.getHtmlTag()}}</button>
				<button *ngIf="recommend1" type="button" class="list-group-item">{{recommend1.getHtmlTag()}}</button>
				<button *ngIf="recommend2" type="button" class="list-group-item">{{recommend2.getHtmlTag()}}</button>
				<button *ngIf="recommend3" type="button" class="list-group-item">{{recommend3.getHtmlTag()}}</button>
				<button *ngIf="recommend4" type="button" class="list-group-item">{{recommend4.getHtmlTag()}}</button>
				<button *ngIf="recommend5" type="button" class="list-group-item">{{recommend5.getHtmlTag()}}</button>
				<button *ngIf="recommend6" type="button" class="list-group-item">{{recommend6.getHtmlTag()}}</button>
				<button *ngIf="recommend7" type="button" class="list-group-item">{{recommend7.getHtmlTag()}}</button>
			</div>


			<!-- REMOVE ME -->
			<!--
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-panel-filter">
				<div 	class="panel-body" 
						(mouseleave)="onMouseLeaveSearchInput($event, searchBox)" 
						
						(click)="onClickSearchInput($event, searchBox)">
					
					<klass-filter-tile 	#selectile 
										(emitOnInitKlassList)="onInitKlassFilterTile(searchBox)"
										(emitOnChangedSelectile)="onChangedSelectile()">
											
					</klass-filter-tile>

					<div (mouseenter)="onMouseenterMagnifier()" (mouseleave)="onMouseleaveMagnifier()">
						<img 	*ngIf="!isOverMagnifier"
								[class.search_disabled]="!isSearchEnabled"
								[class.search_enabled]="isSearchEnabled"
								src="assets/images/search/magnifier.svg" 
								class="pull-right cc-img-magnifier">
						<img 	*ngIf="isOverMagnifier"
								src="assets/images/search/magnifier_focus.svg" 
								class="pull-right cc-img-magnifier">
					</div>

					<input 	id="search-box" 
							class="pull-right form-control cc-panel-search" 
							placeholder="수업을 검색해보세요" 
							#searchBox
							(keyup.enter)="onKeyupEnterSearch(searchBox.value)"
							(keyup)="onKeyupSearchInput(searchBox.value)">

				</div>
			</div>
			-->



		</div>
	</div>

	
	<!-- Class List Component -->
	<div class="row">

		<div class="col-md-3 cc-div-col" *ngFor="let keyword of klassKeywords | async">
			<span>{{keyword.name}}</span>
		</div>

		<div class="col-md-3 cc-div-col" *ngFor="let cclass of cclasses" (click)="onSelectKlass(cclass)">
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-border">
				<div class="panel-heading cc-panel">
					
					<img class="cc-img-class" width="100%;" src={{cclass.class_img_url}} onerror="./assets/images/event/error.svg" alt={{cclass.title}}>

					<div class="cc-class-filter">

						<!-- LEVEL -->
						<img 	*ngIf="cclass.level_img_url" 
								src="{{cclass.level_img_url}}" 
								alt="{{cclass.level_kor}}" 
								class="img-circle cc-img-filter what">
						<!-- PLACE / SUBWAY STATION -->
						<img 	*ngIf="cclass.venue_subway_station_img_url" 
								src="{{cclass.venue_subway_station_img_url}}" 
								alt="{{cclass.venue_subway_station}}" 
								class="img-circle cc-img-filter">
						<!-- DAY -->
						<img 	*ngIf="cclass.days_img_url" 
								src="{{cclass.days_img_url}}" 
								alt="{{cclass.days_kor}}" 
								class="img-circle cc-img-filter">
						<!-- TIME -->
						<img 	*ngIf="cclass.days_img_url" 
								src="{{cclass.time_begin_img_url}}" 
								alt="{{cclass.time_begin_name}}" 
								class="img-circle cc-img-filter">
					</div>
					
				</div>
				<div class="panel-body cc-panel-class-bg">

					<h4 *ngIf="cclass.price_with_format=='0'" class="pull-right cc-price">&nbsp;</h4>
					<h4 *ngIf="cclass.price_with_format!='0'" class="pull-right cc-price">{{cclass.price_with_format}} &#8361;</h4>

					<a *ngIf="cclass.level_img_url" href="#" class="btn cc-btn" role="button">신청하기</a>
					<a *ngIf="cclass.level_img_url" href="#" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>	
					</a>

				</div>
			</div>
		</div>
	  
	</div>
</div>

<router-outlet></router-outlet>
