<div class="container">
	<!-- First Row -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 box">

				<table class="table layout"> 
					<tbody> 
						<tr> 
							<td class="layout border-bottom">
								<div>
									<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
								</div>
								<div>
									<img class="title-signup" src="../../assets/images/login/validation_email.svg">
								</div>
							</td> 
						</tr>

						<tr>
							<td class="layout border-top btn-box" colspan="2">
								<div class="guide">{{msgTop}}<br/><small>{{msgBottom}}</small></div>
							</td> 
						</tr>
					</tbody> 
				</table>
			</div>
			<!-- Column done -->			


			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
</div>