<div>

	<nav-tabs 
      *ngIf="navTabsOptions"
      (emitter)="onChangedFromChild($event)"
      [isScrollAttachEnabled]="false"
      [cellWidth]="120"
      [radiobtnList]="navTabsOptions"
      [colorTitleFocus]="colorOrange"
      [colorTitleBlur]="colorGray"
      [colorBGFocus]="colorWhite"
      [colorBGBlur]="colorWhite"
      [colorBorder]="colorWhite"></nav-tabs>
      
      <ul class="list-group my-style">
            <li class="list-group-item my-style my-style-first">

                  <div  [ngClass]="{'i-show':showHome,'i-hide':!showHome}">
                        <my-info-dashboard
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_USER_MY_INFO_DASHBOARD">
                        </my-info-dashboard>
                  </div>
                  <div  [ngClass]="{'i-show':showMyInfo,'i-hide':!showMyInfo}">
                        <my-info
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_USER_MY_INFO">
                        </my-info>
                  </div>
                  <div  [ngClass]="{'i-show':showMyHistory,'i-hide':!showMyHistory}">
                        KEY_USER_MY_HISTORY
                  </div>
                  <div  [ngClass]="{'i-show':showMyPayment,'i-hide':!showMyPayment}">
                        KEY_USER_MY_PAYMENT
                  </div>
                  <div  [ngClass]="{'i-show':showMyFavorite,'i-hide':!showMyFavorite}">
                        KEY_USER_MY_FAVORITE
                  </div>
            </li>
      </ul>
      
</div>

