<div 	class="btn-box text-left info"
		[style.width]="(width + 10) + 'px'">
	<label class="title">이메일</label>
	
	<div 	*ngIf="isShowPopover"
			class="popover left"
			[style.top]="top + 'px'"
			[style.left]="left + 'px'"
			[ngClass]="{'popover-show':isFocusInfo}"> 
		<div class="arrow"></div> 
		<h3 class="popover-title">이메일 주소가 왜 필요한가요?</h3> 
		<div class="popover-content"> 
			<p>수업에 참여하실 때, 이메일은 수업 정보, 과제, 피드백을 받는 중요한 역할을 합니다. 그리고 이메일은 사용자의 id 역할을 합니다.</p> 
		</div> 
	</div>	

	<span 	*ngIf="isShowPopover"
			class="glyphicon glyphicon-info-sign info"
			[ngClass]="{'popover-show-info':isFocusInfo}"
			(mouseover)="onMouseOverInfo($event)"
			(mouseout)="onMouseOutInfo($event)"></span>
</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		[style.width]="(width) + 'px'"
		class="btn-box radius-border">

	<input 	*ngIf="!isDisabled"
			id="email" 
			#email
			(click)="onClick($event, email)"
			(focus)="onFocus($event, email)"
			(keyup)="onKeyup($event, email)"
			(keyup.enter)="onKeyupEnter($event)"
			(blur)="onBlur($event, email.value, email)"
			autocomplete="off"
			class="form-control input-glass" 
			value={{inputStrPrevOnKeyup}}
			placeholder="이메일이 필요해요.">

	<input 	*ngIf="isDisabled"
			disabled="disabled"
			id="email-disabled" 
			class="form-control input-glass" 
			value={{inputStrPrevOnKeyup}}>


			<!-- disabled="disabled"  -->

	<span 	*ngIf="isWarning"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
			
	<!-- tooltip -->
	<div 	class="tooltip top" 
			*ngIf="tooltipMsg"
			[style.top]="topWarning + 'px'"
			[style.left]="leftWarning + 'px'"
			style="opacity:1;"
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isSuccessInput,'tooltip-warning-arrow':!isSuccessInput}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isSuccessInput,'tooltip-warning-inner':!isSuccessInput}">{{tooltipMsg}}</div> 

	</div>

</div>