div.btn-box {
  margin-top: 5px;
  padding: 10px;
  width: 380px;
}
div.btn-box.text-left {
  text-align: left;
  color:#777;
  padding-bottom: 0px;
}
div.btn-box.text-left.info {
  padding-right: 0px;
  width: 390px;  
}
label.title {
  margin:0px;
}
span.info {
  float: right;
  font-size: 18px;  
}
div.radius-border {
  border-radius: 5px;
  width: 380px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.popover-show-info {
  color:#e85c41;
}
.popover-show {
  display: block;
}
.rb-blur {
  border: 1px solid #ddd;
}
.rb-focus {
  border: 1px solid #e85c41;
}
.input-glass {
  height: 28px;
  margin: 0px;
  border: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  font-size: 20px;
  color: #e85c41;  
}
.title-desc {
  float: right;
  color: #e85c41;
  font-size: 10px;
  padding-top: 5px;
}
span.warning {
  float: right;
  position: relative;
  top: -26px;
  font-size: 24px;
  color:#e85c41;
}
.tooltip-warning-arrow {
  border-top-color: #e85c41 !important;
}
.tooltip-warning-inner {
  background-color: #e85c41;
}
.tooltip-success-arrow {
  border-top-color: #5cb85c !important;
}
.tooltip-success-inner {
  background-color: #5cb85c;
}
.show-my-tooltip {
  opacity:1; 
  margin-left: 100px;
  margin-top: -80px; 
}
.hide-my-tooltip {
  opacity:0; 
  margin-left: 100px;
  margin-top: -80px; 
}