<h2>Our users</h2>
<ul class="users">
	<li *ngFor="let user of users" 
		[class.selected]="user === selectedUser"
		(click)="onSelect(user)">
		<span class="badge">{{user.id}}</span>
		<span>{{user.name}}</span> 
		<button class="delete" (click)="delete(user); $event.stopPropagation()">x</button>
	</li>
</ul>
<div *ngIf="selectedUser">
	<h2>
		{{selectedUser.name | uppercase}} is my user
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>
<div>
	<label>User name:</label> <input #userName />
	<button (click)="add(userName.value); userName.value=''">
		Add
	</button>
	
</div>
