<!-- 파일 업로드 : https://plnkr.co/edit/ozZqbxIorjQW15BrDFrg?p=preview -->
<div class="btn-box text-left info">
	<label class="title">프로필 이미지</label>
</div>

<div class="btn-box radius-border profile-img">

	<table class="table layout"> 
		<tbody> 
			<tr> 
				<td class="layout no-border" 
					style="width:110px;" 
					rowspan="2">
					<img 	*ngIf="userProfileUrl" 
							src={{userProfileUrl}} 
							alt="..." 
							class="img-rounded user-profile">

					<!-- tooltip init -->
					<div 	
					[ngClass]="{'show-my-tooltip':isShowTooltip,'hide-my-tooltip':!isShowTooltip}"
					class="tooltip top" 
					role="tooltip"> 

						<div 	class="tooltip-arrow"
								[ngClass]="{'tooltip-success-arrow':isValidInput,'tooltip-warning-arrow':!isValidInput}"
								></div> 
						<div 	class="tooltip-inner" 
								[ngClass]="{'tooltip-success-inner':isValidInput,'tooltip-warning-inner':!isValidInput}">{{tooltipMsg}}</div> 

					</div>
					<!-- tooltip done -->

				</td> 
				<td class="layout no-border" 
					style="height: 55px;">
					<button type="button" 
							(click)="onClickFileUpload($event)"
							(focus)="onFocusFileUpload($event)"
							class="btn btn-default profile-img btn-orange">
						<span>올리기</span>
					</button>					
				</td>
			</tr>
			<tr> 
				<td class="layout no-border">
					<input  #fileInput 
							style="display:none;"
							type="file" 
							name="userfile" 
							(change)="onChangeFile($event)"/>
				</td> 
			</tr>
		</tbody>
	</table>

</div>

<!-- sample images
<div class="btn-box radius-border profile-img">

	<table class="table layout"> 
		<tbody> 
			<tr> 
				<td class="layout no-border" 
					style="width:110px;" 
					rowspan="2">
					<img 	*ngIf="userProfileUrl" 
							src={{userProfileUrl}} 
							alt="..." 
							class="img-rounded user-profile">
				</td> 
				<td class="layout no-border" 
					style="height: 55px;">
					<img 	*ngFor="let thumbnail of userProfileSampleArr; let isLast = last; let i = index"
							src={{thumbnail}} 
							alt="..." 
							[ngClass]="{'not-last':!isLast}"
							(click)="onClickSampleThumb($event, i)"
							class="img-rounded sample-profile">
				</td> 
			</tr>
			<tr> 
				<td class="layout no-border">
					<input  #fileInput 
							style="display:none;"
							type="file" 
							name="userfile" 
							(change)="onChangeFile($event)"/>

					<button type="button" 
							(click)="onClickFileUpload($event)"
							(focus)="onFocusFileUpload($event)"
							class="btn btn-default profile-img btn-orange">
						<span>올리기</span>
					</button>
				</td> 
			</tr>
		</tbody>
	</table>

</div>
-->