.klass-image {
	width:100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;    
}
h5.font {
    font-size: 20px;
    text-shadow: 1px 1px 1px #000000;
    text-align: center;
}
.klass-title-overlay {
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0px;
    width: 100%;
    z-index: 100;
}
.klass-title-overlay-bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #000;
    opacity: .5;
}
.klass-price-week {
    color: #fff; 
    background-color: #e85c41;
}
li.col-next {
    padding: 5px;
    border: 0px;
    padding-right: 0px;
}
li.col-next.first {
    padding-top: 0px;
}
button.img-uploader {
  width: 100%;
  margin-left: 0px;
}
.btn-orange {
  color: #e85c41;
  background-color: #fff;
  border-color: #e85c41;
}











.klass-singup-btn-group {
    position:absolute;
    right:5px;
}
.klass-signup-v2 {
    color: #e85c41;
    border-color: #e85c41;    
}
.td-layout {
    padding: 0px;
    margin: 0px;    
    border-top: 0px;
}
.td-layout.price{
    width: 105px;
}
table.pricetag {
    margin-bottom: 0px;
    border-collapse:separate;
    border:solid 1px #e85c41;
    border-radius:6px;
    -moz-border-radius:6px;
}
.td-pricetag {
    padding: 0px;
    margin: 0px;    
    border-top: 0px;
}




.watchtower {
    float: left;
    position: absolute;
    width: 20px;
    top: 5px;
    left: 3px;    
}





/*
- REMOVE ME
.klass-img-filter {
    height:60px;
}
.klass-field {
    border:0px;
}
.klass-field.image {
    width:400px;
    padding: 0px;
}
.list-group-item.klass-info {
    padding:5px;
}
.klass-price {
    color: #e85c41;
    padding: 0px;
    margin: 10px;  
}
.btn-map-link {
    color: #fff;
    background-color: #e85c41;
    border-color: #e85c41;
}
.klass-signup-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 0px;
}
.badge.klass {
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #e85c41;
    margin-right: 5px;
}
.klass-misc {
    padding-left: 7px;
    padding-bottom: 40px;
    padding-top: 0px;
    border-top: 0px;
}
.glyphicon-star-empty.wishlist {
    color: #e85c41;
}


*/