.cc-no-box-shadow {
  box-shadow: 0 0px 0px rgba(0,0,0,.0);
}
.cc-panel-bg {
  background-color: #fff;
}
.cc-panel-filter {
  /*border-color: rgba(232, 92, 65, 0.5);*/
  border-color: rgba(232, 92, 65, 1);
}
.cc-panel-search {
  width:50%;
  height: 50px;
  margin: 0px;
  border: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  font-size: 20px;
  color: #e85c41;  
}
.cc-img-filter {
  height:40px;
}
.cc-img-magnifier {
  height:50px;
  width:50px;
}
.cc-img-class {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
}
.klass-row-image {
  padding: 0px;
  border: 0px;
}
.klass-title-overlay {
  position: absolute;
  float: left;
  bottom: 5px;
  color: #fff;
  z-index: 100;
  width: 100%;
}
.klass-title-overlay-bg {
  position: absolute;
  float: left;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 45px;
  background-color: #000;
  opacity: .8;
}
.cc-price {
  color: #e85c41;
  margin: 7px;
}
.cc-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 5px;
}
.cc-div-col{
  padding-right: 5px;
}
.search_disabled{
  opacity: .3;
}
.search_enabled{
  opacity: 1;
}
li.shim {
  height: 107px;
  border: 0px;
  background-color: #f9f9f9;  
  cursor: pointer;
}
li.my-style {
  padding-left: 10px;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}
img.new-class {
  border-radius: 4px;
}
