<div>
	<nav-tabs 	*ngIf="radiobtnOptionListNavTabs"
			[radiobtnList]="radiobtnOptionListNavTabs"
                  [colorTitleFocus]="colorWhite"
                  [colorTitleBlur]="colorOrange"
	          	[colorBGFocus]="colorOrange"
	          	[colorBGBlur]="colorWhite"
                  [colorBorder]="colorOrange"></nav-tabs>

    <ul class="list-group">
      <li class="list-group-item klass-info first">

      수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>수업소개<br/>

      </li>
      <li class="list-group-item klass-info">

      장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>장소<br/>

      </li>
      <li class="list-group-item klass-info">

      강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>강사소개<br/>

      </li>
      <li class="list-group-item klass-info">

      리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>리뷰<br/>

      </li>
      <li class="list-group-item klass-info">

      문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>문의<br/>

      </li>
      <li class="list-group-item klass-info">

      유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>유의사항<br/>

      </li>
    </ul>
</div>
