li.first {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;	
}
li.klass-info {
    border-color: #e85c41;
    padding:5px;
}
li.focus {
	background-color: #e85c41;
}
