<div *ngIf="klass" class="container">
  
  <!-- First Row -->
  <div class="row">
    <!-- <div class="col-md-12 cc-div-col" style="padding:0px;"> -->

        <div class="col-md-2" style="padding:0px;"></div>
        
        <!-- First Column -->
        <ul class="list-group col-md-4">
          <li class="list-group-item" style="padding: 0px;">
            <hidden-uploader
            [uploadAPIUrl]="imgUploaderUploadAPIUrl"
            [imagePath]="imgUploaderImagePathKlassPoster"
            [imageUrl]="imgUploaderImageUrlKlassPoster"
            [eventKey]="imgUploaderEventKeyKlassPoster"
            [fileSizeKBMax]="400"
            [fileWidth]="535"
            [fileMinWidth]="512"
            [fileMaxWidth]="1024"
            [fileMinHeight]="256"
            [fileMaxHeight]="512"
            (emitter)="onChangedFromChild($event)">
            </hidden-uploader>
            <img  
            #classImage 
            (click)="onClickKlassPoster($event)"
            class="klass-image refactor-me" 
            style="width: 100%;"
            src={{imgUploaderImageUrlKlassPoster}} 
            alt={{klass.title}}>

            <!-- LABEL : klass title -->
            <div class="klass-title-overlay">
              <h5 class="font"><strong>{{klassTitle}}</strong></h5>
            </div>
            <div class="klass-title-overlay-bg"></div>
          
          </li>
          
          <!-- 포스터 올리기 열 -->
          <li *ngIf="isAdmin && isTeacher" 
              class="list-group-item" 
              style="padding: 10px;">
            <button type="button" 
                (click)="onClickKlassPoster($event)"
                class="btn btn-default img-uploader btn-orange">
              <span>수업 포스터 올리기</span>
            </button>
          </li>

          <!-- 수업 제목 입력 창 -->
          <li *ngIf="isAdmin && isTeacher" 
              class="list-group-item"
              style="padding: 0px;">

            <widget-input-default
            [ngModelInput]="klassTitle"
            [width]="353"
            [meta]="defaultMetaList[0]"
            (emitter)="onChangedFromChild($event)">
            </widget-input-default>

          </li>
          
          <!-- Banner Image List INIT -->
          <li class="list-group-item" 
              style="padding:0px;border-top:0px;">
            <image-grid-v2
            [eventKey]="eventKeyKlassBanner"
            [imageTable]="imageTableBannerList"
            [handleType]="'checkbox'"
            [hasTableBorder]="false"
            [isAdmin]="isTeacher"
            (emitter)="onChangedFromChild($event)">
            </image-grid-v2>
          </li>
          <!-- Banner Image List DONE -->

        </ul>
        

        <!-- Second Column -->
        <ul class="list-group col-md-4" style="padding-right: 0px;">

          <!-- PRICE INIT -->
          <!--
          <li class="list-group-item col-next first">
            <pricetag-h [title]="pricePerWeekFormat"
                        [fontSizeTitle]="40"
                        [paddingTitle]="5"

                        [price]="klass.price"
                        [fontSizePrice]="25"
                        [paddingTopPrice]="25"
  
                        [desc]="pricetagDesc"
                        [fontSizeDesc]="14"
                        [paddingDesc]="5"

                        [currency]="priceTagCurrency"
                        [color]="priceTagColor"></pricetag-h>
          </li>
          <!-- PRICE DONE -->

          <!-- FILTERS -->
          <!--
          <li class="list-group-item col-next">
            <image-grid [imageTable]="selectileImageTable"
                        [imageHeight]="selectileImageHeight"
                        [imageWidth]="selectileImageWidth"
                        [hasTableBorder]="true"></image-grid>
          </li>

          <!-- COURSE TIME INIT -->
          <!--
          <li class="list-group-item col-next" style="height: 97px;">
            <clock-board  #clockboard 
                          [clockHeight]=86
                          [clockWidth]=300
                          [klassTimeBegin]="klassTimeBegin" 
                          [klassTimeEnd]="klassTimeEnd"></clock-board>
          </li>
          <!-- COURSE TIME DONE -->

          <!-- FIRST KLASS DATE INIT -->
          <!--
          <li *ngIf="firstClassDateFormatStr" class="list-group-item col-next">
            <butterfly  [title]="'강의 참가 가능일'"
                        [fontSizeTitle]="16"
                        [paddingTitle]="7"
                        [text]="firstClassDateFormatStr"
                        [fontSizeText]="18"
                        [paddingText]="5"
                        [color]="priceTagColor"></butterfly>
          </li>
          <!-- FIRST KLASS DATE DONE -->
          
          <!-- KLASS VENUE INIT -->
          <!--
          <li class="list-group-item col-next">
            <butterfly  [title]="'수업 장소'"
                        [fontSizeTitle]="16"
                        [paddingTitle]="7"
                        [text]="'투썸플레이스 잠실역점'"
                        [fontSizeText]="18"
                        [paddingText]="5"
                        [color]="priceTagColor"></butterfly>          
          </li>
          <!-- KLASS VENUE DONE -->
          
          <li class="list-group-item col-next">
            <button   type="button"
                      class="btn btn-lg btn-default klass-signup-v2" 
                      style="width:100%;"
                      (click)="onClickEnrollment($event, klass)">
                      신청하기(결재)
            </button>
          </li>
        </ul>
        <div class="col-md-2" style="padding:0px;"></div>

    <!-- </div> -->
  </div>
  
  <!-- Second Row -->
  <!-- SECOND ROW INIT -->
  <!--
  <div class="row">
    <div class="col-md-2" style="padding:0px;"></div>
    <div class="col-md-8 cc-div-col" style="padding:0px;">
      <klass-detail-nav-list  #klassDetailNav
                              [radiobtnOptionListNavTabs]="radiobtnOptionListNavTabs"
                              (emitter)="onChangedFromChildNav($event)"
                              [isAdmin]="isAdmin"
                              [klassFeature]="klassFeature"
                              [klassTarget]="klassTarget"
                              [klassSchedule]="klassSchedule"
                              [klass]="klass">
      </klass-detail-nav-list>
    </div>
    <div class="col-md-2" style="padding:0px;"></div>
  </div>
  <!-- SECOND ROW DONE -->
</div>
