.table.layout {
	
}
.klass-image {
	width:400px;
}
.klass-img-filter {
	height:40px;
}
.klass-field {
	border:0px;
	/*background-color:#f0f;*/
}
.klass-field.image {
	width:400px;
	padding: 0px;
}
.list-group-item.klass-info {
	padding:5px;
}
h5.font {
	font-size: 20px;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
}
.klass-title-overlay {
    position: relative;
    bottom: 52px;
    color: #fff;
    left: 0px;
    width: 400px;
    z-index: 100;
}
.klass-title-overlay-bg {
    position: relative;
    bottom: 102px;
    left: 0px;
    width: 400px;
    height: 60px;
    background-color: #000;
    opacity: .5;
	border-radius: 0px /*top-left*/ 0px /*top-right*/ 4px /*bottom-right*/ 4px /*bottom-left*/;
}
.klass-price {
	color: #e85c41;
	padding: 0px;
	margin: 10px;  
}
.btn-map-link {
    color: #fff;
    background-color: #e85c41;
    border-color: #e85c41;
}
.klass-signup-btn {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
  margin-right: 10px;
}
.badge.klass {
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    background-color: #e85c41;
    margin-right: 5px;
}
.klass-misc {
    padding-left: 7px;
    padding-bottom: 40px;
    padding-top: 0px;
    border-top: 0px;
}
.klass-price-week {
    color: #e85c41;
    background-color: #fff;
}
.glyphicon-star-empty.wishlist {
    color: #e85c41;
}