<div class="container">

  <!-- Dron List -->
  <!-- 
  <dron-list  *ngIf="dronListTitle"
              [topLeftImgUrl]="watchTowerWhiteImgUrl"
              [cageHeight]="290"
              [cageWidth]="710"
              [key]="dronListKey"
              [title]="dronListTitle"
              [SEinnerHTML]="dronListSEinnerHTML"
              [myEventSingleInput]="dronListMyEventSingleInput"
              (emitter)="onChangedFromChild($event)"></dron-list>
  -->
  
  <!-- First Row -->
  <div class="row">
    <!-- <div class="col-md-12 cc-div-col" style="padding:0px;"> -->

        <div class="col-md-2" style="padding:0px;"></div>
        
        <!-- First Column -->
        <ul class="list-group col-md-4">
          <li class="list-group-item" style="padding: 0px;">

            <img  #classImage 
                class="klass-image refactor-me" 
                style="width: 100%;"
                src={{klass.class_img_url}} 
                alt={{klass.title}}>
            <div *ngIf="klass.title" class="klass-title-overlay">
              <h5 class="font"><strong>{{klass.title}}</strong></h5>
            </div>
            <div *ngIf="klass.title" class="klass-title-overlay-bg"></div>
          
          </li>

          <li class="list-group-item" style="padding:0px;">
              <image-grid [imageTable]="bannerImageTable"
                          [hasTableBorder]="false"></image-grid>
          </li>
        </ul>

        <!-- Second Column -->
        <ul class="list-group col-md-4" style="padding-right: 0px;">
          
          <li class="list-group-item col-next first">
            <pricetag-h [title]="pricePerWeekFormat"
                        [fontSizeTitle]="40"
                        [paddingTitle]="5"

                        [price]="klass.price"
                        [fontSizePrice]="25"
                        [paddingTopPrice]="25"
  
                        [desc]="pricetagDesc"
                        [fontSizeDesc]="14"
                        [paddingDesc]="5"

                        [currency]="priceTagCurrency"
                        [color]="priceTagColor"></pricetag-h>
          </li>
          <!-- FILTERS -->
          <li class="list-group-item col-next">
            <image-grid [imageTable]="selectileImageTable"
                        [imageHeight]="selectileImageHeight"
                        [imageWidth]="selectileImageWidth"
                        [hasTableBorder]="true"></image-grid>
          </li>

          <!-- COURSE TIME -->
          <li class="list-group-item col-next" style="height: 97px;">
            <clock-board  #clockboard 
                          [clockHeight]=86
                          [clockWidth]=300
                          [klassTimeBegin]="klassTimeBegin" 
                          [klassTimeEnd]="klassTimeEnd"></clock-board>
          </li>

          <!-- FIRST KLASS DATE -->
          <li *ngIf="firstClassDateFormatStr" class="list-group-item col-next">
            <butterfly  [title]="'강의 참가 가능일'"
                        [fontSizeTitle]="16"
                        [paddingTitle]="7"
                        [text]="firstClassDateFormatStr"
                        [fontSizeText]="18"
                        [paddingText]="5"
                        [color]="priceTagColor"></butterfly>
          </li>

          <li class="list-group-item col-next">
            <butterfly  [title]="'수업 장소'"
                        [fontSizeTitle]="16"
                        [paddingTitle]="7"
                        [text]="'투썸플레이스 잠실역점'"
                        [fontSizeText]="18"
                        [paddingText]="5"
                        [color]="priceTagColor"></butterfly>          
          </li>

          <li class="list-group-item col-next">
            <button   type="button"
                      class="btn btn-lg btn-default klass-signup-v2" 
                      style="width:100%;"
                      (click)="onClickEnrollment($event, klass)">
                      신청하기(결재)
            </button>
          </li>
        </ul>
        <div class="col-md-2" style="padding:0px;"></div>

    <!-- </div> -->
  </div>
  
  <!-- Second Row -->
  <div class="row">
    <div class="col-md-2" style="padding:0px;"></div>
    <div class="col-md-8 cc-div-col" style="padding:0px;">
      <klass-detail-nav-list  #klassDetailNav
                              [radiobtnOptionListNavTabs]="radiobtnOptionListNavTabs"
                              (emitter)="onChangedFromChild($event)"
                              [isAdmin]="isAdmin"
                              [klassFeature]="klassFeature"
                              [klassTarget]="klassTarget"
                              [klassSchedule]="klassSchedule"
                              [klass]="klass">
      </klass-detail-nav-list>
    </div>
    <div class="col-md-2" style="padding:0px;"></div>
  </div>
</div>
