<!-- http://www.bootply.com/zoupRVbLG4 -->
<div class="container">
	
	<!-- Search Input Component -->
	<div class="row">
		<div class="col-md-2 cc-div-col"></div>
		<div class="col-md-8 cc-div-col">
		
			<div class="panel panel-default cc-no-box-shadow cc-panel-bg cc-panel-filter">
				<div 	class="panel-body" 
						(mouseleave)="onMouseLeaveSearchInput($event, searchBox)"
						(click)="onClickSearchInput($event, searchBox)">
					
					<klass-filter-tile 	#selectile 
										(emitOnInitKlassList)="onInitKlassFilterTile(searchBox)"
										(emitOnChangedSelectile)="onChangedSelectile($event, searchBox)">
											
					</klass-filter-tile>

					<div 	(mouseenter)="onMouseenterMagnifier()" 
							(mouseleave)="onMouseleaveMagnifier()" 
							(click)="onKeyupEnterSearch(searchBox.value, searchBox, selectile)">

						<img 	*ngIf="!isOverMagnifier"
								[class.search_disabled]="!isSearchEnabled"
								[class.search_enabled]="isSearchEnabled"
								src="assets/images/search/magnifier.svg" 
								class="pull-right cc-img-magnifier">

						<img 	*ngIf="isOverMagnifier"
								src="assets/images/search/magnifier_focus.svg" 
								class="pull-right cc-img-magnifier">

					</div>

					<input 	id="search-box" 
							class="pull-right form-control cc-panel-search" 
							placeholder="수업을 검색해보세요" 
							#searchBox
							(keyup.enter)="onKeyupEnterSearch(searchBox.value, searchBox, selectile)"
							(keyup)="onKeyupSearchInput(searchBox.value, searchBox, selectile)">

				</div>
			</div>

		</div>
		<div class="col-md-2 cc-div-col"></div>
	</div>

	
	<!-- Class List Component -->
	<div class="row">
		
		<div class="col-md-3 cc-div-col" *ngFor="let klass of klassList" >

			<ul class="list-group">
				<li class="list-group-item klass-row-image">

					<img 	*ngIf="klass.teacher && klass.teacher.thumbnail" 
							src="{{klass.teacher.thumbnail}}" 
							alt="{{klass.teacher.name}}" 
							class="img-circle img-teacher">

					<img 	#classImage 
							class="cc-img-class" 
							width="100%;" 
							src={{klass.class_poster_url_loadable}} 
							[ngClass]="{'new-class':klass.isNewClassBtn()}"
							(click)="onSelectKlass($event, klass)"
							(error)="onLoadFailClassImage(classImage, klass)" 
							alt={{klass.title}}>
					<div *ngIf="klass.title && klass.isNotNewClassBtn() && klass.isNotNoClassBtn()" class="klass-title-overlay">
						<h5 style="text-align: center;" class="unselectable"><strong>{{klass.title}}</strong></h5>
					</div>
					<div *ngIf="klass.title && klass.isNotNewClassBtn() && klass.isNotNoClassBtn()" class="klass-title-overlay-bg">
					</div>
				</li>
				<li
				*ngIf="klass.title && klass.isNotNewClassBtn() && klass.isNotNoClassBtn()" 
				class="list-group-item" 
				style="padding:5px;">

					<img 	*ngIf="klass.level_img_url" 
							src="{{klass.level_img_url}}" 
							alt="{{klass.level_kor}}" 
							class="img-circle cc-img-filter">

					<img 	*ngIf="klass.subway_station_img" 
							src="{{klass.subway_station_img}}" 
							alt="{{klass.subway_station}}" 
							class="img-circle cc-img-filter">

					<img 	*ngIf="klass.time_begin_img_url" 
							src="{{klass.time_begin_img_url}}" 
							alt="{{klass.time_begin_name}}" 
							class="img-circle cc-img-filter">

					<img 	*ngFor="let days_img_url of klass.days_img_url_list" 
							src="{{days_img_url}}"
							alt="{{klass.days}}" 
							class="img-circle cc-img-filter">

				</li>
				<li 
				*ngIf="klass.title && klass.isNotNewClassBtn() && klass.isNotNoClassBtn()" 
				class="list-group-item my-style">
					<h4 *ngIf="klass.price_with_format=='0'" class="pull-right cc-price unselectable">&nbsp;</h4>
					<h4 *ngIf="klass.price_with_format!='0'" class="pull-right cc-price unselectable">&#8361;{{klass.price_with_format}}</h4>

					<a 	*ngIf="klass.level_img_url" 
						(click)="onSelectKlass($event, klass)"
						href="#" 
						class="btn cc-btn" 
						role="button">자세히보기</a>

					<a 	*ngIf="klass.level_img_url" 
						(click)="onClickWishList($event, klass)" 
						href="#" 

						class="btn btn-default" 
						role="button">
						<span class="favorite">&hearts;</span>
						<span class="favorite-shim">&nbsp;</span>

						<!-- <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>	 -->
					</a>
				</li>
			</ul>

		</div>
	  
	</div>
</div>