<div class="container">
	<!-- First Row -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 box">

				<table class="table layout"> 
					<tbody> 
						<tr> 
							<td class="layout border-bottom">
								<div class="center">
									<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
								</div>
								<div class="center gray"><h3>강의 개설 가이드</h3></div>
							</td> 
						</tr>

						<tr>
							<td class="layout border-top btn-box">
								<div class="center">CONTENT - 1</div>
							</td> 
						</tr>
						<tr>
							<td class="layout border-top btn-box">
								<div class="center">CONTENT - 2</div>
							</td>
						</tr>

						<tr>
							<td class="layout border-top btn-box">

								<div class="terms-box">
									<a 	href="#" 
										(click)="onClickTerms($event)"
										class="terms">이용약관</a>
									<span class="terms">과</span>

									<a 	href="#" 
										(click)="onClickPrivatePolicy($event)"
										class="terms">개인정보 취급방침</a>
									<span class="terms">을 읽고 수락합니다.</span>
									<div class="checkbox terms-check">
										<label>
											<input 	#checkboxTerms
													(change)="onChangeCheckTerms($event, checkboxTerms)" 
													type="checkbox">
										</label>
									</div>
								</div>

								<!-- tooltip -->
								<div 	class="tooltip top" 
										[ngClass]="{'show-tooltip':isShowTooltip,'hide-tooltip':!isShowTooltip}"
										role="tooltip"> 

									<div 	class="tooltip-arrow tooltip-warning-arrow"></div> 
									<div 	class="tooltip-inner tooltip-warning-inner">{{tooltipMsgTerms}}</div> 

								</div>


								<button 	(click)="onClickSignup($event)"
											type="button" 
											class="btn btn-orange save">진행하기</button>
							</td> 
						</tr>
					</tbody> 
				</table>
			</div>
			<!-- Column done -->

			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
</div>