<div class="container">

	<!-- First Row Begins -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 my-box">

<div>

	<nav-tabs 
      *ngIf="navTabsOptions"
      (emitter)="onChangedFromChild($event)"
      [isScrollAttachEnabled]="false"
      [cellWidth]="120"
      [radiobtnList]="navTabsOptions"
      [colorTitleFocus]="colorOrange"
      [colorTitleBlur]="colorGray"
      [colorBGFocus]="colorWhite"
      [colorBGBlur]="colorWhite"
      [colorBorder]="colorWhite"></nav-tabs>
      
      <ul class="list-group my-style">
            <li class="list-group-item my-style my-style-first">
                  <!-- 1. 대시보드 -->
                  <div  [ngClass]="{'i-show':showDashboard,'i-hide':!showDashboard}">
                        <teacher-info-dashboard
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO_DASHBOARD">
                        </teacher-info-dashboard>
                  </div>
                  <!-- 2. 선생님 정보 -->
                  <div  [ngClass]="{'i-show':showMyInfo,'i-hide':!showMyInfo}">
                        <teacher-info-v2
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO">
                        </teacher-info-v2>
                  </div>
                  <!-- 3. 선생님의 수업 정보 -->
                  <div  [ngClass]="{'i-show':showMyKlass,'i-hide':!showMyKlass}">
                        <teacher-info-klass
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_KLASS">
                        </teacher-info-klass>
                  </div>
                  <!-- 4. 선생님의 수업 출석/결석 리스트(수정 가능) -->
                  <div  [ngClass]="{'i-show':showMyKlassAttendance,'i-hide':!showMyKlassAttendance}">
                        <teacher-info-klass-attendance
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_KLASS_ATTENDANCE">
                        </teacher-info-klass-attendance>
                  </div>
                  <!-- 5. 선생님의 수익 -->
                  <div  [ngClass]="{'i-show':showMyIncome,'i-hide':!showMyIncome}">
                        <teacher-info-income
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INCOME">
                        </teacher-info-income>
                  </div>
                  <!-- 6. 선생님의 학생리스트? 수업을 들었던 모든 학생들의 리스트. 수업의 안내나 추가 인원 모집을 위해 필요할까? -->
                  <!-- 7. 선생님의 수업별 문의 및 리뷰 리스트(New가 상위로 위치함.그 다음 영역은 시간순.) -->
                  <div  [ngClass]="{'i-show':showMyFeedback,'i-hide':!showMyFeedback}">
                        <teacher-info-feedback
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_FEEDBACK">
                        </teacher-info-feedback>
                  </div>
            </li>
      </ul>
      
</div>
				
			</div>

			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
	<!-- First Row Ends -->

</div>