<div class="container">

	<!-- First Row Begins -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 my-box">

<div>

	<nav-tabs 
      *ngIf="navTabsOptions"
      (emitter)="onChangedFromChild($event)"
      [isScrollAttachEnabled]="false"
      [cellWidth]="120"
      [radiobtnList]="navTabsOptions"
      [colorTitleFocus]="colorOrange"
      [colorTitleBlur]="colorGray"
      [colorBGFocus]="colorWhite"
      [colorBGBlur]="colorWhite"
      [colorBorder]="colorWhite"></nav-tabs>
      
      <ul class="list-group my-style">
            <li class="list-group-item my-style my-style-first">

                  <div  [ngClass]="{'i-show':showDashboard,'i-hide':!showDashboard}">
                        <teacher-info-dashboard
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO_DASHBOARD">
                        </teacher-info-dashboard>
                  </div>
                  <div  [ngClass]="{'i-show':showMyInfo,'i-hide':!showMyInfo}">
                        <teacher-info-v2
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO">
                        </teacher-info-v2>
                  </div>
                  <div  [ngClass]="{'i-show':showMyKlass,'i-hide':!showMyKlass}">
                        KEY_TEACHER_MY_KLASS
                  </div>
                  <div  [ngClass]="{'i-show':showMyIncome,'i-hide':!showMyIncome}">
                        KEY_TEACHER_MY_PAYMENT
                        <!-- 수업의 수익 그래프? -->
                  </div>
                  <div  #myfavorite
                        [ngClass]="{'i-show':showMyFeedback,'i-hide':!showMyFeedback}">
                        KEY_TEACHER_MY_FEEDBACK
                  </div>
            </li>
      </ul>
      
</div>
				
			</div>

			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
	<!-- First Row Ends -->

</div>