<div class="container">

	<!-- First Row Begins -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 my-box">

<div>

	<nav-tabs 
      *ngIf="navTabsOptions"
      (emitter)="onChangedFromChild($event)"
      [isScrollAttachEnabled]="false"
      [cellWidth]="120"
      [radiobtnList]="navTabsOptions"
      [colorTitleFocus]="colorOrange"
      [colorTitleBlur]="colorGray"
      [colorBGFocus]="colorWhite"
      [colorBGBlur]="colorWhite"
      [colorBorder]="colorWhite"></nav-tabs>
      
      <ul class="list-group my-style">
            <li class="list-group-item my-style my-style-first">
                  <!-- 1. 대시보드 -->
                  <div  [ngClass]="{'i-show':showDashboard,'i-hide':!showDashboard}">
                        <teacher-info-dashboard
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO_DASHBOARD">
                        </teacher-info-dashboard>
                  </div>
                  <!-- 2. 선생님 정보 -->
                  <div  [ngClass]="{'i-show':showMyInfo,'i-hide':!showMyInfo}">
                        <teacher-info-v2
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INFO">
                        </teacher-info-v2>
                  </div>
                  <!-- 3. 선생님의 수업 정보 -->
                  <div  [ngClass]="{'i-show':showMyKlass,'i-hide':!showMyKlass}">
                        <teacher-info-klass
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_KLASS">
                        </teacher-info-klass>
                  </div>
                  <!-- 4. 선생님의 정산 -->
                  <div  [ngClass]="{'i-show':showMyIncome,'i-hide':!showMyIncome}">
                        <teacher-info-income
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_INCOME">
                        </teacher-info-income>
                  </div>
                  <!-- 5. 선생님 수업의 리뷰 -->
                  <!--
                  <div  [ngClass]="{'i-show':showMyReview,'i-hide':!showMyReview}">
                        <teacher-info-review
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_REVIEW">
                        </teacher-info-review>
                  </div>
                  <!-- 6. 선생님 수업의 문의 -->
                  <!--
                  <div  [ngClass]="{'i-show':showMyQuestion,'i-hide':!showMyQuestion}">
                        <teacher-info-question
                        (emitter)="onChangedFromChild($event)"
                        [eventKey]="myEventService.KEY_TEACHER_MY_QUESTION">
                        </teacher-info-question>
                  </div>                  
                  <!-- -->
            </li>
      </ul>
      
</div>
				
			</div>

			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
	<!-- First Row Ends -->

</div>