<!-- 수강중인 수업이 있는 경우 -->
<ul *ngIf="klassNStudentList && 0 < klassNStudentList.length" class="list-group my-style">
    <li *ngIf="pagination" class="list-group-item my-style my-first">
    	<div style="padding-top: 10px;">
			<pagination 
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination">
			</pagination>
    	</div>
	</li>
    <li class="list-group-item my-style">
		<div style="padding:10px;">

			<klass-n-student-list
			[isShowCancle]="true"
			[klassNStudentList]="klassNStudentList"
			[eventKey]="myEventService.KEY_WIDGET_KLASS_N_STUDENT_LIST"
			(emitter)="onChangedFromChild($event)">
			</klass-n-student-list>

		</div>
	</li>
	<li *ngIf="pagination" class="list-group-item my-style my-first">
    	<div style="padding-bottom: 5px;">
			<pagination 
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination">
			</pagination>
    	</div>
	</li>
</ul>

<!-- 수강중인 수업이 없는 경우 -->
<ul *ngIf="!klassNStudentList || klassNStudentList.length == 0" class="list-group my-style">
    <li class="list-group-item my-style my-first">
		<div style="text-align:center;">
			<h3 style="margin-bottom:20px;color: #999;">수강중인 수업이 없습니다.</h3>
		</div>
	</li>
</ul>