<div>

	<table class="table layout"> 
		<tbody>

			<tr> 
				<td class="layout border-right">

					<!-- Email -->
					<email	
					[top]="133"
					[left]="91"
					[topWarning]="5"
					[leftWarning]="117"
					(emitter)="onChangedFromChild($event)">
					</email>

					<!-- Password -->
					<password 
					[isUpdate]="true"
					[top]="228"
					[left]="91"
					[topWarning]="100"
					[leftWarning]="117"
					(emitter)="onChangedFromChild($event)">
					</password>

					<!-- 이름 -->
					<name 	
					[top]="408" 
					[left]="91"
					[topWarning]="290"
					[leftWarning]="117"
					(emitter)="onChangedFromChild($event)">
					</name>

					<!-- 닉네임 -->
					<nickname 	[top]="503" 
								[left]="91"
								[topWarning]="385"
								[leftWarning]="117"
								(emitter)="onChangedFromChild($event)">
					</nickname>

					<!-- EOL -->

				</td>
				<td class="layout">

					<!-- 프로필 이미지 -->
					<profile-img-upload 
					[top]="143"
					[left]="490"
					(emitter)="onChangedFromChild($event)">
					</profile-img-upload>

					<!-- 전화번호 -->
					<mobile 	
					[top]="90" 
					[left]="390"
					[topWarning]="151"
					[leftWarning]="382"
					(emitter)="onChangedFromChild($event)">
					</mobile>

					<!-- 성별 -->
					<gender 	[top]="390" 
								[left]="586"
								[gender]="gender"
								[topWarning]="251"
								[leftWarning]="382"
								(emitter)="onChangedFromChild($event)">
					</gender>
					<!-- 연령 / 월 / 일 -->
					<birthday 	[top]="310" 
								[left]="390"
								(emitter)="onChangedFromChild($event)">
					</birthday>

					<!-- EOL -->

				</td>
			</tr>

			<tr> 
				<td class="layout border-top" colspan="2">
					<button 	(click)="onClickSave($event)"
								type="button" 
								class="btn btn-orange save">저장하기</button>
				</td> 
			</tr>

		</tbody>
	</table>

</div>