table.layout {
  border:0px;
  padding:0px;
  margin:0px;
}
td.layout {
  border:0px;
  padding:0px;
  margin:0px;
}
td.layout.border-top {
  border-top: 1px solid #ddd;
}
td.layout.border-bottom {
  border-bottom: 1px solid #ddd;
}
td.layout.border-right {
  border-right: 1px solid #ddd; 
  width: 50%;
}
td.layout.btn-box {
  text-align: right;
}
.btn-orange {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
}
button.save {
  float: right;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;  
  margin-bottom: 5px;  
}
