div.my-style {
    margin: 10px;
}
div.my-title {
    text-align: left;
    font-size: 14px;
    margin: 20px;
    margin-bottom: 10px;
    color: #999;
    font-weight: bold;	
}
div.row.my-style {
    margin-left: -10px;
    margin-right: -10px;	
}