div.my-title {
    text-align: left;
    font-size: 14px;
    margin: 20px;
    color: #999;
    font-weight: bold;	
    margin-top: 16px;
    margin-bottom: 7px;
}
div.my-style {
    margin: 10px;
}
div.row.my-style {
    margin-left: -10px;
    margin-right: -10px;	
}
div.klass-empty-padding {
    margin-bottom:100px;
}
div.klass-fav-empty-padding {
    margin-bottom:200px;   
}
ul.my-style {
    margin: 0px;    
}
li.my-style {
    border: 0px;
}