<div class="container">
	
	<!-- Search Input Component -->
	<div class="row">
		<div class="col-lg-2">

			<div class="list-group">

				<a 
				routerLink="./" 
				routerLinkActive="my-active" 
				[routerLinkActiveOptions]="{ exact: true }"
				class="list-group-item">대쉬보드</a>

				<a 
				routerLink="./adminusers" 
				routerLinkActive="my-active" 
				class="list-group-item">운영자</a>

				<a 
				routerLink="./teachers" 
				routerLinkActive="my-active" 
				class="list-group-item">선생님</a>

				<a 
				routerLink="./users"
				routerLinkActive="my-active" 
				class="list-group-item">학생(사용자)</a>

				<a 
				routerLink="./klasses" 
				routerLinkActive="my-active" 
				class="list-group-item">수업</a>

			</div>

		</div>
		<div class="col-lg-10">
			<router-outlet></router-outlet>
		</div>

		<!-- <div class="col-lg-1"></div> -->

	</div>
</div>



