<div>
	<ul class="list-group">
		<li class="list-group-item my-style">
<!-- 대시보드 - 결제 금액 / INIT -->
<table class="table my-style"> 
	<tbody> 
		<tr>

			<td class="my-style">

<ul class="list-group my-style-empty">
	<li class="list-group-item my-style-empty">
		<div>이번달까지 결제 금액</div>	
	</li>
	<li class="list-group-item my-style-empty">
		<div>이번달까지 주문들어온 총 횟수</div>	
	</li>	
	<li class="list-group-item my-style-empty">
		<div>이번달까지 주문들어온 총 환불 요청 횟수</div>	
	</li>		
</ul>
			</td>
			<td class="my-style">

<ul class="list-group my-style-empty">
	<li class="list-group-item my-style-empty">
		<div>구글 애널리틱</div>	
	</li>
</ul>
			</td>

		</tr>
	</tbody>
</table>
<!-- 대시보드 - 결제 금액 / DONE -->

		</li>

<!-- 대시보드 - 클래스 요약 / INIT -->
		<li class="list-group-item">클래스 요약</li>
		<li class="list-group-item my-padding">

<table class="table my-style"> 
	<tbody> 
		<tr>

			<td class="my-style my-width-class">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>활성 클래스</div>	
	</li>
	<li class="list-group-item">
		<div>30건</div>	
	</li>	
</ul>
			</td>

			<td class="my-style my-width-class">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>대기 클래스</div>	
	</li>
	<li class="list-group-item">
		<div>30건</div>	
	</li>		
</ul>
			</td>

			<td class="my-style my-width-class">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>완료 클래스</div>	
	</li>
	<li class="list-group-item">
		<div>30건</div>	
	</li>			
</ul>
			</td>

		</tr>
	</tbody>
</table>
			
		</li>
<!-- 대시보드 - 클래스 요약 / DONE -->

<!-- 대시보드 - 학생 요약 / INIT -->
		<li class="list-group-item">학생 요약</li>
		<li class="list-group-item">

<table class="table my-style"> 
	<tbody> 
		<tr>


			<td class="my-style my-width-student">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>활성 학생수</div>	
	</li>
	<li class="list-group-item">
		<div>30명</div>	
	</li>	
</ul>
			</td>

			<td class="my-style my-width-student">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>이번주 마지막 학생수</div>	
	</li>
	<li class="list-group-item">
		<div>30명</div>	
	</li>		
</ul>
			</td>

			<td class="my-style my-width-student">

<ul class="list-group my-inner-ul">
	<li class="list-group-item">
		<div>종료 학생수</div>	
	</li>
	<li class="list-group-item">
		<div>30명</div>	
	</li>			
</ul>
			</td>		


		</tr>
	</tbody>
</table>
			
		</li>		
<!-- 대시보드 - 학생 요약 / DONE -->	

	</ul>
</div>

<!-- 
이번달 안에

1. 주문들어온 총 횟수
2. 환불 요청 
-->