<div>
	<ul class="list-group">
		<!-- 검색 및 컨트롤 / 체크 박스 선택으로 일괄 선택, 변경 적용 -->
		<li class="list-group-item">
			<!-- 검색 - 선생님 상태 -->
	        <div class="my-status-box">
	            <widget-input-default
	            [height]="50"
	            [width]="100"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="selectOptionListKlassStatus"
	            [meta]="defaultMetaKlassStatusForSearch"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>	        	
	        </div>       		
			<!-- 검색 -->
			<div class="my-search-box">
		        <widget-input-default
		        [width]="300"
		        [isNoSpace]="true"
		        [isShowTitle]="false"
		        [meta]="defaultMetaSearchQuery"
		        (emitter)="onChangedFromChild($event)">
		        </widget-input-default>
			</div>
	        <button 
	        (click)="onClickSearch($event)"
	        type="button" 
	        class="btn btn-default btn-lg my-search">검색</button>

		</li>
		<li *ngIf="pagination" class="list-group-item">
			<pagination 
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination"></pagination>
		</li>
		
		<li class="list-group-item my-style-table">

<div *ngIf="!klassList" style="text-align:center;">
	<h3 style="margin-bottom:20px;color: #999;">검색 결과가 없습니다.</h3>
</div>

<table *ngIf="klassList" class="table table-bordered table-hover my-style"> 
	<thead> 
		<tr>
			<th>
				<checkbox-single 
				[eventKey]="myEventService.KEY_CHECKBOX_ALL"
				[metaObj]="klassList"
				(emitter)="onChangedFromChild($event)">
				</checkbox-single>
			</th>
			<th>ID</th>
			<th>커버</th> 
			<th>수업제목</th>
			<th>상태</th>
		</tr> 
	</thead> 
	<tbody> 
		<tr *ngFor="let klass of klassList">
			<th scope="row">
				<div>
					<checkbox-single 
					[eventKey]="myEventService.KEY_CHECKBOX"
					[metaObj]="klass"
					(emitter)="onChangedFromChild($event)">
					</checkbox-single>
				</div>
			</th> 
			<td>{{klass.id}}</td>
			<td>
				<img class="img-rounded my-style" src={{klass.class_poster_url_loadable}}>
			</td> 
			<td><small>{{klass.title}}</small></td> 
			<td>
	            <widget-input-default
	            [width]="60"
	            [isDisabled]="klass.isMe"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="klass.selectOptionListStatus"
	            [meta]="defaultMetaKlassStatus"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>
			</td>
		</tr> 
	</tbody> 
</table>			

		</li>

		<li *ngIf="pagination" class="list-group-item">
			<pagination
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination"></pagination>
		</li>

	</ul>
</div>