<div>
	<ul class="list-group">
		<!-- 검색 및 컨트롤 / 체크 박스 선택으로 일괄 선택, 변경 적용 -->
		<li class="list-group-item">
			<!-- 검색 - 유저 상태 -->
	        <div class="my-status-box">
	            <widget-input-default
	            [height]="50"
	            [width]="100"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="selectOptionListUserStatus"
	            [meta]="defaultMetaUserStatusForSearch"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>	        	
	        </div>
			<!-- 검색 - 유저 권한 -->
	        <div class="my-status-box">
	            <widget-input-default
	            [height]="50"
	            [width]="100"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="selectOptionListUserPermission"
	            [meta]="defaultMetaUserPermissionForSearch"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>	        	
	        </div>	        		
			<!-- 검색 -->
			<div class="my-search-box">
		        <widget-input-default
		        [width]="300"
		        [isNoSpace]="true"
		        [isShowTitle]="false"
		        [meta]="defaultMetaSearchQuery"
		        (emitter)="onChangedFromChild($event)">
		        </widget-input-default>
			</div>
	        <button 
	        (click)="onClickSearch($event)"
	        type="button" 
	        class="btn btn-default btn-lg my-search">검색</button>

		</li>
		<li *ngIf="pagination" class="list-group-item">
			<pagination 
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination"></pagination>
		</li>
		<li class="list-group-item my-style-table">

<div *ngIf="!userList" style="text-align:center;">
	<h3 style="margin-bottom:20px;color: #999;">검색 결과가 없습니다.</h3>
</div>

<table *ngIf="userList" class="table table-bordered table-hover my-style"> 
	<thead> 
		<tr>
			<th>
				<checkbox-single 
				[eventKey]="myEventService.KEY_CHECKBOX_ALL"
				[metaObj]="userList"
				(emitter)="onChangedFromChild($event)">
				</checkbox-single>
			</th>
			<th>ID</th>
			<th>섬네일</th> 
			<th>이름 / 닉네임 / 성별</th> 
			<th>이메일 / 연락처</th> 
			<th>상태</th>
			<th>권한</th>
		</tr> 
	</thead> 
	<tbody> 
		<tr *ngFor="let user of userList">
			<th scope="row">
				<div *ngIf="!user.isMe">
					<checkbox-single 
					[eventKey]="myEventService.KEY_CHECKBOX"
					[metaObj]="user"
					(emitter)="onChangedFromChild($event)">
					</checkbox-single>
				</div>
			</th> 
			<td>{{user.id}}</td>
			<td>
				<img class="img-rounded my-style" src={{user.thumbnail}}>
			</td> 
			<td><small>{{user.name}}<br/>{{user.nickname}}<br/>{{user.gender_readable}}</small></td> 
			<td><small>{{user.email}}<br/>{{user.mobile}}</small></td> 
			<td>
	            <widget-input-default
	            [width]="60"
	            [isDisabled]="user.isMe"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="user.selectOptionListStatus"
	            [meta]="defaultMetaUserStatus"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>
			</td>
			<td>
	            <widget-input-default
	            [width]="70"
	            [isDisabled]="user.isMe"
	            [isNoSpace]="true"
	            [isNoBorder]="true"
	            [isShowTitle]="false"
	            [selectOptionList]="user.selectOptionListPermission"
	            [meta]="defaultMetaUserPermission"
	            (emitter)="onChangedFromChild($event)">
	            </widget-input-default>
			</td>
		</tr> 
	</tbody> 
</table>			

		</li>
		<li *ngIf="pagination" class="list-group-item">
			<pagination
			(emitter)="onChangedFromChild($event)"
			[eventKey]="myEventService.KEY_PAGE_NUM"
			[pagination]="pagination"></pagination>
		</li>
	</ul>
</div>