img.profile {
	border: 1px solid #ddd;
}
li.list-group-item.profile {
	padding:5px;
	text-align: center;
	border: 0px;
}
li.list-group-item.resume {
	padding:5px;
	text-align: center;
	border: 0px;
	color:#777;
}
li.list-group-item.greeting {
	padding:5px;
	text-align: center;
	border: 0px;
	padding-bottom: 10px;
}