.cornerstone {
    float: left;
    position: absolute;
    width: 20px;
    top: 5px;
    left: 3px;    
}
.td-layout {
    padding: 5px;
    margin: 0px;    
    border-top: 0px;
    text-align: center;
}
.table.round {
	margin-bottom: 0px;
    border-collapse:separate;
    border:solid 1px #e85c41;
    border-radius:6px;
    -moz-border-radius:6px;	
}
li.updown {
    text-align:center;
    border-color:#e85c41;
}
li.updown.head {
    background-color:#e85c41;
    color:#fff;
    padding-top:2px;
    padding-bottom:2px;
}
li.updown.tail {
    background-color:#fff;
    color:#e85c41;
    padding:0px;
}
ul.updown {
    width:100px;
    margin-bottom:0px;
}

