nav.my-style {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 34px;
}	
ul.my-style {
    padding: 0px;
    margin: 0px;
}
a.my-active {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e85c41;
    border-color: #e85c41;	
}
a.my-active:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #e85c41;
    border-color: #e85c41;
}
a.my-deactive {
    color: #e85c41;
    border-color: #e85c41;
}
a.my-deactive:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: rgba(232, 92, 65, 0.5);
    border-color: #e85c41;  
}