<!--
<div 	class="dron" 
		[ngClass]="{'top-left': isTopLeft, 'top-right': isTopRight, 'bottom-left': isBottomLeft, 'bottom-right': isBottomRight}">dron-list</div>
-->
<nav class="navbar navbar-default navbar-fixed-bottom cage">
  <div class="container">
    <div class="dron-bottom-right" [style.top]="offsetTop + 'px'"><!-- +40 -->

        <ul class="list-group">
			<li class="list-group-item title"
				id="dron-header"
				[style.color]="textColor"
				[style.border-color]="color"
				[style.background-color]="bgColor">
				<img 	*ngIf="topLeftImgUrl" 
						class="watchtower" 
						src={{topLeftImgUrl}}>
				{{title}}
	            <button   	type="button"
	            			(click)="dismiss()"
	            			style="margin:3px;"
	                      	class="btn btn-xs btn-default klass-btn">
					<span style="padding-top:3px;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	            </button>
			</li>
			<li class="list-group-item" 
				style="padding:0px;border:0px;"
				id="dron-content">
		        <smart-editor 	*ngIf="SEinnerHTML"
		        				[cageHeight]="cageHeight"
		        				[cageWidth]="cageWidth"
		                      	[key]="key"
		                      	(emitter)="onChangedFromChild($event)"></smart-editor>
<!-- EXAMPLE
<dron-list  [cageHeight]="290"
			[cageWidth]="710"
			[key]="'feature'"
			[SEinnerHTML]="'<p>TEST</p>'"></dron-list>
-->
			</li>
			<li class="list-group-item bottom"
				id="dron-tail">
				&nbsp;<!-- btn이 float된 상태이기 때문에 공백문자로 row의 높이를 만들어줍니다. -->
				<a href="#" class="btn btn-default btn-sm klass-btn" 
							(click)="onClickSave($event)"
							[ngClass]="{'disabled':isDisabledSave}"
							role="button">저장하기</a>

				<!--
	            <button   	type="button"
	            			(click)="save()"
	                      	class="btn btn-sm btn-default klass-btn">
	                      	저장하기
	            </button>
				-->
			</li>
        </ul>




    </div>
  </div>
</nav>