div.box {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width:340px;
  box-shadow: 0px 0px 4px 1px rgba(204,204,204,0.5);
  margin-bottom: 10px;
  margin-top: 10px;	
}
div.btn-box {
	padding: 10px;
}
div.btn-box.other {
	text-align: right;
}
div.above-border {
	padding-bottom: 20px;
}
div.below-border {
	padding-top: 20px;
}
img.login-btn {
	width:300px;
}
img.logo {
    width: 100%;
    padding: 35px;
    cursor: pointer;
}
img.login-title {
    width: 74px;
    margin-bottom: 12px;	
}
div.border {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    padding: 0px;
    position: absolute;
    left: 0px;
}
.input-email {
  height: 42px;
  margin: 0px;
  border: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  font-size: 20px;
  color: #e85c41;  
}
div.radius-border {
	border-radius: 5px;
	border: 1px solid #e85c41;
	width:300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
div.radius-border.top {
	margin-top: 10px;
}
.btn-orange {
	color: #fff;
    background-color: #e85c41;
    border-color: #e85c41;
}
button.login {
	width: 301px;
	height: 40px;
	border-radius: 5px;
}
a.orange {
	color:#e85c41;
}
a.signup {
	float:left;
}
span.orange {
	color:#e85c41;
}
div.warning-container {
  padding-bottom: 10px;
}
div.warning {
  text-align: left;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #e85c41;
}

