<div class="container" style="margin-top:30px;">
	<!-- First Row -->
	<div class="row">
		<div class="row">
			<div class="col-md-4" style="padding:0px;"></div>
			<!-- Login Iframe -->
			<div class="col-md-4 cc-div-col box">
				
				<div>
					<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
				</div>
				<div>
					<img class="login-title" src="../../assets/images/login/login_kor.svg">
				</div>

				<!-- Email / TODO - Unique 검사 제외 -->
				<div style="margin-left: -2px;">
					<email 	[topWarning]="165"
							[leftWarning]="85"
							[width]="300"
							[isCheckUnique]="false"
							[myCheckerService]="myCheckerService"
							(emitter)="onChangedFromChild($event)">
					</email>
				</div>
				<!-- Password -->
				<div style="margin-left: -2px;">
					<password 	[top]="228"
								[left]="91"
								[width]="300"
								[topWarning]="260"
								[leftWarning]="85"
								[isLogin]="true"
								[myCheckerService]="myCheckerService"
								(emitter)="onChangedFromChild($event)">
					</password>
				</div>
				<!-- Warning -->
				<div 	*ngIf="warningMsgHead"
						class="warning-container">
					<div class="warning">{{warningMsgHead}}</div>
					<div class="warning">{{warningMsgTail}}</div>
				</div>

				<button type="button" 
						(click)="onClickLogin($event)"
						class="btn btn-orange login">로그인</button>

				<div class="btn-box above-border other">
					<a class="orange signup" routerLink="/login" routerLinkActive="active">회원가입</a>
			        <a class="orange" href="#" alt="...">아이디</a>
			        <span class="orange">/</span>
			        <a class="orange" href="#" alt="...">비밀번호찾기</a>
				</div>

				<div class="btn-box border"></div>

				<div class="btn-box below-border">
			        <a *ngIf="kakaoAuthUrl" href={{kakaoAuthUrl}} alt="...">
			            <img class="login-btn" src="../../assets/images/login/login_kakao.svg">
			        </a>
				</div>
				<div class="btn-box">
			        <a *ngIf="facebookAuthUrl" href={{facebookAuthUrl}} alt="...">
			            <img class="login-btn" src="../../assets/images/login/login_facebook.svg">
			        </a>
				</div>
				<div class="btn-box">
			        <a *ngIf="naverAuthUrl" href={{naverAuthUrl}} alt="...">
			            <img class="login-btn" src="../../assets/images/login/login_naver.svg">
			        </a>
				</div>

			</div>
			<div class="col-md-4" style="padding:0px;"></div>
		</div>
	</div>
</div>