<table class="table my-style" *ngIf="klass"> 
	<tbody> 
		<!-- 수업 요약 정보 row 시작 -->
		<tr >
			<td
			class="my-style my-left">
				<img
				[ngClass]="{'first':isShowAttendance}"
				src="{{klass.class_poster_url_loadable}}" 
				alt="{{klass.title}}"
				(click)="onClickKlass($event, klass)"
				class="my-style">
			</td>
			<td class="my-style">
<!-- 수업 요약 정보 우측 시작-->
<table class="table my-style"> 
	<tbody> 
		<tr>
			<td class="my-style">

<table class="table my-style"> 
	<tbody> 
		<tr>
			<td class="my-style my-klass-info">
				<div 	[ngClass]="{'first':isShowAttendance}"
						class="my-klass-btn-box">
					<div class="unselectable my-klass-btn gray" style="width:394px;">
						<strong>수업명</strong> : {{klass.title}}
					</div>
					<div>
						<div class="unselectable my-klass-btn gray float-l" style="width: 110px;">
							<strong>가격</strong> : ₩{{klass.price_with_format}}
						</div>
						<div class="unselectable my-klass-btn gray float-l" style="width: 130px;margin-right: 0px;">
							<strong>시간</strong> : {{klass.time_begin}} ~ {{klass.time_end}}
						</div>
						<div class="unselectable my-klass-btn gray float-l" style="width: 139px;">
							<strong>시작일</strong> : {{klass.date_begin}}
						</div>
					</div>
					<div>
						<div style="float:left;margin-left: 7px;margin-top: -2px;">
							<img
							src="{{klass.level_img_url}}" 
							alt="{{klass.level}}"
							class="img-circle cc-img-filter">
							<img
							src="{{klass.subway_station_img}}" 
							alt="{{klass.subway_station}}"
							class="img-circle cc-img-filter">
							<img
							src="{{klass.time_begin_img_url}}" 
							alt="{{klass.time_begin}}"
							class="img-circle cc-img-filter">					
							<img *ngFor="let days_img_url of klass.days_img_url_list"
							src="{{days_img_url}}" 
							alt="{{klass.days}}"
							class="img-circle cc-img-filter">						
						</div>
					</div>
				</div>
			</td>
			<td class="my-style btn-box">
				<div 	[ngClass]="{'first':isShowAttendance}"
						class="my-klass-btn-box">
					<div class="unselectable my-klass-btn short gray"><strong>상태 : </strong> {{getKlassStatusDesc(klass)}}</div>
					<div class="unselectable my-klass-btn short gray">참여 : {{klass.getActualStudentCnt()}}명</div>
					<div  
					[ngClass]="{'enable':isValidAttendance(),'gray':!isValidAttendance()}"
					(click)="onClickAttendance($event, klass)"
					class="unselectable my-klass-btn short">출석률 : {{attendancePercentage}}</div>

				</div>
			</td>
			<td class="my-style btn-box">
				
				<div 	[ngClass]="{'first':isShowAttendance}"
						class="my-klass-btn-box my-left">
					<div class="unselectable my-klass-btn short gray"><strong>피드백</strong></div>
					<div 
					(click)="onClickReview($event)"
					class="unselectable my-klass-btn short enable">리뷰 : {{klass.review_cnt}}건</div>
					<div 
					(click)="onClickQuestion($event)"
					class="unselectable my-klass-btn short enable">문의 : {{klass.question_cnt}}건</div>

				</div>

			</td>
		</tr>
	</tbody>
</table>
			</td>
		</tr>
	</tbody>
</table>
<!-- 수업 요약 정보 우측 끝 -->

			</td>
		</tr>
		<!-- 수업 요약 정보 row 끝 -->
	
		<!-- 출석리스트 시작 -->
		<tr *ngIf="isShowAttendance && klass.klass_attendance_table">
			<td class="my-style" colspan="2">

<!-- 출석리스트 내부 테이블 시작 -->
<div class="at-box">
	<table *ngIf="klass.klass_attendance_table" class="table table-bordered table-hover my-style"> 
		<thead> 
			<tr>
				<th style="text-align:left;width:140px;">
					<small>수업날짜</small>
				</th>
				<th *ngFor="let klass_attendance of klass.klass_attendance_table[0];">
					<!-- 학생 이름 -->
					<div *ngIf="klass_attendance.user">
						<small>{{klass_attendance.user.nickname}}</small>
					</div>
				</th>

			</tr> 
		</thead> 
		<tbody> 
			
			<!-- 학생별 출석부 시작 -->
			<tr *ngFor="let klass_attendance_list of klass.klass_attendance_table;">
				<!-- 수업 참여 날짜 -->
				<td [ngClass]="{'my-before':klass_attendance_list[0].hasNotStarted(),'my-after':klass_attendance_list[0].hasStarted()}"
					class="my-at-text">
					<small>{{klass_attendance_list[0].getYYYYMMDDKor()}}</small>
				</td>
				<!-- 학생별 수업 참여 여부 -->
				<td class="my-at-text" *ngFor="let klass_attendance of klass_attendance_list;">
					<!-- 상태별 체크박스 -->
					<div *ngIf="klass_attendance.user">

						<!-- 체크박스 : 출석 -->
						<div class="radio my-radio my-presence">
							<label>
								<input 
								#radio_presence
								[disabled]="klass_attendance.hasNotStarted()"
								[checked]="klass_attendance.isPresence()"
								(change)="onCheck($event, $event.target.value, radio_presence, radio_absence, klass_attendance)"
								class="my-radio"
								type="radio" 
								name={{klass_attendance.id}} 
								value={{klass_attendance.status_presence}}>
								<small>{{klass_attendance.status_presence_kor}}</small>
							</label>
						</div>

						<!-- 체크박스 : 결석 -->
						<div class="radio my-radio my-absence">
							<label>
								<input 
								#radio_absence
								[disabled]="klass_attendance.hasNotStarted()"
								[checked]="klass_attendance.isAbsence()"
								(change)="onCheck($event, $event.target.value, radio_presence, radio_absence, klass_attendance)"
								class="my-radio"
								type="radio" 
								name={{klass_attendance.id}} 
								value={{klass_attendance.status_absence}}>
								<small>{{klass_attendance.status_absence_kor}}</small>
							</label>
						</div>

					</div>
				</td>


			</tr> 
			<!-- 학생별 출석부 끝 -->


		</tbody> 
	</table>
</div>
<!-- 출석리스트 내부 테이블 끝 -->

			</td>
		</tr>
		<!-- 출석리스트 끝 -->
		
		<!-- padding-bottom 시작 -->
		<tr *ngIf="!isLast">
			<td [ngClass]="{'my-shim':!isLast}" class="my-style"></td>
			<td [ngClass]="{'my-shim':!isLast}" class="my-style"></td>
		</tr>
		<!-- padding-bottom 끝 -->

	</tbody>
</table>