<div style="padding-top:10px;">
	<pagination 
	(emitter)="onChangedFromChild($event)"
	[eventKey]="myEventService.KEY_PAGE_NUM"
	[pagination]="pagination">
	</pagination>
</div>
<div style="padding:10px;">
	<klass-list-teacher
	[klassList]="klassList"
	[eventKey]="myEventService.KEY_WIDGET_KLASS_LIST_TEACHER"
	(emitter)="onChangedFromChild($event)">
	</klass-list-teacher>
</div>
<div style="padding-bottom:5px;">
	<pagination 
	(emitter)="onChangedFromChild($event)"
	[eventKey]="myEventService.KEY_PAGE_NUM"
	[pagination]="pagination">
	</pagination>
</div>
<!-- 

수업리스트 

- 시간 역순
- 수업 검색 기능이 제공됨.
- 기본 필터로 수업 검색 가능.
- 시간 범위로 수업 검색 가능.

- 수업 상세 데이터
- 출결 요약 / 클릭시 출결 리스트로 이동, 해당 수업 표시.
- 리뷰 및 문의 요약 / 클릭시 리뷰 및 문의 리스트로 이동, 해당 수업 표시.

- 수업 데이터를 수정하려면 수업 상세 페이지로 이동.

- 출석 결석이 통합.

-->