<div 	*ngIf="isShowTitle" 
		class="btn-box text-left info">
	<label class="title">{{meta.title}}</label>
</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		[style.width]="width + 'px'"
		class="btn-box radius-border">
	

	<!-- input -->
	<input 	
	*ngIf="!isDisabled && meta.type == 'TYPE_INPUT'"
	#input
	(click)="onClick($event, input)"
	(focus)="onFocus($event, input)"
	(blur)="onBlur($event, input)"
	(keyup)="onKeyup($event, input)"
	(keydown.tab)="onKeydownTab($event)"
	(keydown.shift.tab)="onKeydownTabShift($event)"
	[(ngModel)]="ngModelInput"
	value={{inputStrPrev}}
	class="form-control input-glass" 
	placeholder={{meta.placeholder}}>
	<!-- input-disabled -->
	<input 	
	*ngIf="isDisabled && meta.type == 'TYPE_INPUT'"
	disabled="disabled" 
	value={{inputStrPrev}}
	class="form-control input-glass" 
	placeholder={{meta.placeholder}}>


	<!-- text-area -->
	<textarea 
	rows="4" 
	cols="50" 	
	*ngIf="!isDisabled && meta.type == 'TYPE_TEXTAREA'"
	#textarea
	(click)="onClick($event, textarea)"
	(focus)="onFocus($event, textarea)"
	(blur)="onBlur($event, textarea)"
	(keyup)="onKeyup($event, textarea)"
	(keydown.tab)="onKeydownTab($event)"
	(keydown.shift.tab)="onKeydownTabShift($event)"
	[(ngModel)]="ngModelInput"
	value={{inputStrPrev}}
	class="form-control input-glass my-style" 
	placeholder={{meta.placeholder}}>
	</textarea>
	<!-- text-area-disabled -->
	<textarea 
	rows="4" 
	cols="50"
	*ngIf="isDisabled && meta.type == 'TYPE_TEXTAREA'"
	disabled="disabled" 
	value={{inputStrPrev}}
	class="form-control input-glass my-style"
	placeholder={{meta.placeholder}}>
	</textarea>
	
	<!-- icon - warning -->
	<span 	*ngIf="!isValid"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
			
	<!-- tooltip for input -->
	<div 	*ngIf="meta.type == 'TYPE_INPUT'"
			[ngClass]="{'show-my-tooltip':isShowTooltip,'hide-my-tooltip':!isShowTooltip}"
			class="tooltip top" 
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isValid,'tooltip-warning-arrow':!isValid}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isValid,'tooltip-warning-inner':!isValid}">{{tooltipMsg}}</div> 

	</div>

	<!-- tooltip for textarea -->
	<div 	*ngIf="meta.type == 'TYPE_TEXTAREA'"
			[ngClass]="{'show-my-tooltip-ta':isShowTooltip,'hide-my-tooltip-ta':!isShowTooltip}"
			class="tooltip top" 
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isValid,'tooltip-warning-arrow':!isValid}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isValid,'tooltip-warning-inner':!isValid}">{{tooltipMsg}}</div> 

	</div>	

</div>