<div class="btn-box text-left info">
	<label class="title">{{title}}</label>

</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		class="btn-box radius-border">

	<!-- input -->
	<input 	*ngIf="!isDisabled"
			#input
			(click)="onClick($event, input)"
			(focus)="onFocus($event, input)"
			(blur)="onBlur($event, input)"
			(keyup)="onKeyup($event, input)"
			(keydown.tab)="onKeydownTab($event)"
			(keydown.shift.tab)="onKeydownTabShift($event)"
			[(ngModel)]="ngModelInput"
			value={{inputStrPrev}}
			class="form-control input-glass" 
			placeholder={{placeholder}}>

	<!-- input-disabled -->
	<input 	*ngIf="isDisabled"
			disabled="disabled" 
			value={{inputStrPrev}}
			class="form-control input-glass" 
			placeholder={{placeholder}}>
	
	<!-- icon - warning -->
	<span 	*ngIf="!isValid"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
			
	<!-- tooltip -->
	<div 	[ngClass]="{'show-my-tooltip':isShowTooltip,'hide-my-tooltip':!isShowTooltip}"
			class="tooltip top" 
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isValid,'tooltip-warning-arrow':!isValid}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isValid,'tooltip-warning-inner':!isValid}">{{tooltipMsg}}</div> 

	</div>

</div>