<div class="container">
	<!-- First Row -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 cc-div-col box">

				<table class="table layout"> 
					<tbody> 
						<tr> 
							<td class="layout border-bottom" colspan="2">
								<div>
									<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
								</div>
								<div>
									<img class="title-signup" src="../../assets/images/login/signup_kor.svg">
								</div>
							</td> 
						</tr>

						<tr> 
							<td class="layout border-right">

			
<div class="btn-box radius-border">
	<input 	id="email" 
			class="form-control input-glass" 
			placeholder="이메일이 필요해요.">
</div>

<div class="btn-box radius-border">
	<input 	id="password" 
			type="password"
			class="form-control input-glass" 
			placeholder="비밀번호를 입력해주세요.">
</div>

<div class="btn-box radius-border">
	<input 	id="password" 
			type="password"
			class="form-control input-glass" 
			placeholder="비밀번호를 입력해주세요.">
</div>

<div class="btn-box radius-border">섬네일 업로더</div>

								
							</td> 
							<td class="layout">

<!-- 성 -->
<div class="btn-box radius-border">
	<input 	id="email" 
			class="form-control input-glass" 
			placeholder="성">
</div>

<!-- 이름 -->
<div class="btn-box radius-border">
	<input 	id="email" 
			class="form-control input-glass" 
			placeholder="이름">
</div>

<!-- 닉네임 -->
<div class="btn-box radius-border">
	<input 	id="email" 
			class="form-control input-glass" 
			placeholder="닉네임">
</div>

<!-- 전화번호 -->
<div>
	<div class="btn-box-phone radius-border">
		<input 	id="email" 
				class="form-control input-glass" 
				placeholder="010">
	</div>
	<div class="phone-dash"><strong>-</strong></div>
	<div class="btn-box-phone radius-border">
		<input 	id="email" 
				class="form-control input-glass" 
				placeholder="1***">
	</div>
	<div class="phone-dash"><strong>-</strong></div>
	<div class="btn-box-phone radius-border">
		<input 	id="email" 
				class="form-control input-glass" 
				placeholder="2***">
	</div>
</div>

<!-- 성별 -->
<div class="btn-group padding" role="group">
	<button type="button" class="btn btn-default toggle-MW">여성</button>
	<button type="button" class="btn btn-default toggle-MW">남성</button>
</div>

<!-- 연령 -->
<div>20대이시군요!</div>
<div class="padding-progressbar">
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			<div class="prgrs-handle"></div>
			<span class="sr-only">60% Complete</span>
		</div>
	</div>
</div>

<!-- 생일 -->
<div>아름다운 5월생!</div>
<div class="padding-progressbar">
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			<div class="prgrs-handle"></div>
			<span class="sr-only">60% Complete</span>
		</div>
	</div>
</div>

<div>29일이시군요.</div>
<div class="padding-progressbar">
	<div class="progress">
		<div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
			<div class="prgrs-handle"></div>
			<span class="sr-only">60% Complete</span>
		</div>
	</div>
</div>



							</td> 
						</tr>

						<tr> 
							<td class="layout border-top btn-box" colspan="2">
								<button type="button" class="btn btn-orange save">저장</button>
							</td> 
						</tr>
					</tbody> 
				</table>


				<!--
				<div>
					<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
				</div>
				<div>
					<img class="login-title" src="../../assets/images/login/signup_kor.svg">
				</div>

				<div class="btn-box radius-border">
					<input 	id="email" 
							class="form-control input-glass" 
							placeholder="이메일을 입력해주세요.">

				</div>
				<div class="btn-box radius-border">
					<input 	id="password" 
							type="password"
							class="form-control input-glass" 
							placeholder="비밀번호를 입력해주세요.">
				</div>

				<button type="button" class="btn btn-orange login">로그인</button>
				-->
				

			</div>
			<!-- Column done -->			


			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
</div>