div.box {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 1px rgba(204,204,204,0.5);
  margin-bottom: 10px;
  margin-top: 10px; 
  padding-right: 0px;
  padding-left: 0px;
}
table.layout {
  border:0px;
  padding:0px;
  margin:0px;
}
td.layout {
  border:0px;
  padding:0px;
  margin:0px;
}
td.layout.select {
  padding:10px;
  padding-top: 5px;
}
div.border-r {
  border-right: 1px solid #ddd;
}
div.shim-select {
  width: 10px;
  height: 40px;
  position: relative;
  top: -44px;
  left: 112px;  
}
td.layout.border-top {
  border-top: 1px solid #ddd;
}
td.layout.border-bottom {
  border-bottom: 1px solid #ddd;
}
td.layout.border-right {
  border-right: 1px solid #ddd; 
}
td.layout.btn-box {
  text-align: right;
}
img.logo {
    width: 50%;
    padding: 35px;
}
img.title-signup {
    width: 10%;
    margin-bottom: 12px;  
}
.btn-orange {
  color: #fff;
  background-color: #e85c41;
  border-color: #e85c41;
}
button.save {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  margin-top: 10px;
  margin-right: 10px;  
  margin-bottom: 0px;  
}
.input-glass {
  height: 28px;
  margin: 0px;
  border: 0px;
  box-shadow: inset 0 0px 0px rgba(0,0,0,0);
  font-size: 20px;
  color: #e85c41;  
}
div.radius-border {
  border-radius: 5px;
  width:300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.rb-blur {
  border: 1px solid #ddd;
}
.rb-focus {
  border: 1px solid #e85c41;
}
div.btn-box {
  margin-top: 5px;
  padding: 10px;
  width: 380px;
}
div.btn-box-phone {
  margin-top: 5px;
  padding: 10px;
  width: 93px;
  float:left;
}
div.btn-box.text-left {
  text-align: left;
  color:#777;
  padding-bottom: 0px;
}
div.btn-box.text-left.info {
  padding-right: 0px;
  width: 390px;  
}
span.info {
  float: right;
  font-size: 18px;  
}
label.title {
  margin:0px;
}
div.phone-dash {
  float: left;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 24px;
  color: #999;
}
button.toggle-MW {
  width:190px;
  height:50px;
}
button.toggle-age {
  width:40px;
  height:50px;
}
div.btn-group.padding {
  margin-top: 0px;
  padding:5px;
  padding-top:5px;
  padding-bottom:5px;
}

div.padding-progressbar {
  padding:10px;
}
div.prgrs-handle {
  width: 30px;
  height: 30px;
  background-color: #eee;
  position: absolute;
  margin-left: 222px;
  margin-top: -5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0px 1px 1px 0px rgba(204,204,204,0.7);  
}
select.padding {
  width:110px;
  height:50px;
}
img.user-profile {
    border: 1px solid #ddd;
    width: 100px;
    margin: 0px;
}
button.selected {
  font-weight: bold;
  color: #e85c41;
}
button.unselected {
  font-weight: lighter;
  color: #999;
}
div.profile-img {
  text-align: left;
  padding: 0px;
}
button.profile-img {
  position: absolute;
  margin-left: 10px;  
}
.popover-show {
  display: block;
  top: 58px;
  left: 243px;
}
.popover-show-info {
  color:#e85c41;
}
.popover-show-password {
  display: block;
  top: 153px;
  left: 243px;
}
.popover-show-name {
  display: block;
  top: 248px;
  left: 243px;
}















  

div.btn-box.other {
	text-align: right;
}
div.above-border {
	padding-bottom: 20px;
}
div.below-border {
	padding-top: 20px;
}
img.login-btn {
	width:300px;
}
div.border {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    padding: 0px;
    position: absolute;
    left: 0px;
}
div.radius-border.top {
	margin-top: 10px;
}
a.orange {
	color:#e85c41;
}
a.signup {
	float:left;
}
span.orange {
	color:#e85c41;
}






