<div class="container">
	<!-- First Row -->
	<div class="row">
		<div class="row">
			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
			

			<!-- Column init -->
			<div class="col-md-8 box">

				<table class="table layout"> 
					<tbody> 
						<tr> 
							<td class="layout border-bottom" colspan="2">
								<div>
									<img class="logo" src="../../assets/images/cafeclass_logo_text_only.svg">
								</div>
								<div>
									<img class="title-signup" src="../../assets/images/login/signup_kor.svg">
								</div>
							</td> 
						</tr>

						<tr> 
							<!-- First Column init -->
							<td class="layout border-right">

							<!-- Email -->
								<widget-input-default
								[meta]="defaultMetaList[0]"
								(emitter)="onChangedFromChild($event)">
								</widget-input-default>

								<!-- Password -->
								<password 	
								(emitter)="onChangedFromChild($event)">
								</password>

								<!-- Default Input : Name -->
								<widget-input-default
								[meta]="defaultMetaList[1]"
								(emitter)="onChangedFromChild($event)">
								</widget-input-default>

								<!-- Default Input : Nickname -->
								<widget-input-default
								[meta]="defaultMetaList[2]"
								(emitter)="onChangedFromChild($event)">
								</widget-input-default>

							</td> 
							<!-- First Column done -->
							<!-- Second Column init -->
							<td class="layout">

								<!-- 프로필 이미지 -->
								<profile-img-upload [top]="143"
													[left]="490"
													(emitter)="onChangedFromChild($event)">
								</profile-img-upload>

								<!-- 전화번호 -->
								<mobile 	[top]="260" 
											[left]="390"
											[topWarning]="321"
											[leftWarning]="382"
											(emitter)="onChangedFromChild($event)">
								</mobile>

								<!-- 성별 -->
								<gender 	[top]="390" 
											[left]="586"
											[gender]="gender"
											[topWarning]="421"
											[leftWarning]="382"
											(emitter)="onChangedFromChild($event)">
								</gender>

								<!-- 연령 / 월 / 일 -->
								<birthday 	[top]="480" 
											[left]="390"
											(emitter)="onChangedFromChild($event)">
								</birthday>

							</td> 
							<!-- Second Column done -->
						</tr>

						<tr>
							<td class="layout border-top btn-box" colspan="2">

								<div class="terms-box">
									<a 	href="#" 
										(click)="onClickTerms($event)"
										class="terms">이용약관</a>
									<span class="terms">과</span>

									<a 	href="#" 
										(click)="onClickPrivatePolicy($event)"
										class="terms">개인정보 취급방침</a>
									<span class="terms">을 읽고 수락합니다.</span>
									<div class="checkbox terms-check">
										<label>
											<input 	#checkboxTerms
													(change)="onChangeCheckTerms($event, checkboxTerms)" 
													type="checkbox">
										</label>
									</div>
								</div>

								<!-- tooltip -->
								<div 	class="tooltip top" 
										*ngIf="tooltipMsgTerms"
										[style.top]="643 + 'px'"
										[style.left]="201 + 'px'"
										style="opacity:1;"
										role="tooltip"> 

									<div 	class="tooltip-arrow tooltip-warning-arrow"></div> 
									<div 	class="tooltip-inner tooltip-warning-inner">{{tooltipMsgTerms}}</div> 

								</div>


								<button 	(click)="onClickSignup($event)"
											type="button" 
											class="btn btn-orange save">가입하기</button>
							</td> 
						</tr>
					</tbody> 
				</table>
			</div>
			<!-- Column done -->			


			<!-- Column padding -->
			<div class="col-md-2" style="padding:0px;"></div>
		</div>
	</div>
</div>