.td-layout {
    padding: 0px;
    margin: 0px;    
    border-top: 0px;
}
.table.round {
	margin-bottom: 0px;
    border-collapse:separate;
    border:solid 1px #e85c41;
    border-radius:6px;
    -moz-border-radius:6px;	
}
button.dron {
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;	
}