<div>
	<button *ngIf="isAdmin && handleType=='button'"
	(click)="onClickDelete($event, imageUrl)"
	class="btn btn-default dron" 
	type="button">
		<span class="glyphicon glyphicon-remove"></span>
	</button>

	<div  
	*ngIf="isAdmin && handleType=='checkbox'" 
	class="checkbox dron">
		<label>
			<input 
			type="checkbox"
			[(ngModel)]="isChecked"
			#checkboxToggle
			(change)="onChangeCheck($event, checkboxToggle, imageUrl)">
		</label>
	</div>

	<img  *ngIf="imageUrl" 
	src="{{imageUrl}}" 
	[ngClass]="{'fade':isDisabled}"
	[style.width]="(0 < imageWidth)?imageWidth + 'px':'100%'">	
</div>