<table class="table round" [style.width]="cageWidthStr"> 
  <tbody> 
    <tr>
      <td 	class="td-layout title">
          <div  [style.font-size]="fontSizeTitle + 'px'"
          >{{title}}</div>

          <div   *ngIf="desc"
                [style.font-size]="fontSizeDesc + 'px'"
                [style.margin-bottom]="paddingTitle + 'px'"
                style="margin-top:-10px;"
          >{{desc}}</div>
          
      </td>
      <td 	
      class="td-layout" 
  		[style.padding-top]="paddingTopPrice + 'px'">
        <div class="price" [style.font-size]="fontSizePrice + 'px'">{{currency}} {{priceWithFormat}}</div>
        <div *ngIf="priceDesc" class="price-desc">{{priceDesc}}</div>
      </td> 
    </tr>
  </tbody> 
</table>