<!-- Example

<input-btns-row [myEventCallback]="myEventCallback" 
				[cageWidth]="cageWidth" 
				[inputText]="inputText">
				[placeholder]="'새로운 이름을 입력해주세요.'"
				(emitter)="onChangeFromChild($event)"
</input-btns-row>

-->
<div class="input-group" style="padding:5px;"> 
	<input 	#inputText 
			[(ngModel)]="innerText"
			(keyup.enter)="onKeyEnter($event, inputText.value)"
			(ngModelChange)="onChange($event, inputText)"
			class="form-control" 
			placeholder={{placeholder}}
			aria-label="Text input with multiple buttons">
	<div class="input-group-btn">
		<!-- Single Btn -->
		<button *ngIf="myButton" 
				type="button" 
				(click)="onClick($event, inputText.value, myButton)"
				class="btn btn-default">{{myButton.title}}</button>

		<!-- Multiple Btns -->
		<button *ngFor="let myButton of myButtonList" 
				type="button" 
				(click)="onClick($event, inputText.value, myButton)"
				class="btn btn-default">{{myButton.title}}</button>
	</div> 
</div>