<ul class="list-group updown">
  <li class="list-group-item updown head" [style.font-size]="data.fontSizeTitle + 'px'">{{data.myEvent.title}}</li>
  <li class="list-group-item updown tail" [style.font-size]="data.fontSizeText + 'px'">
	  <div class="form-group" style="margin-bottom:0px;">
	    <!-- <div class="col-sm-10"> -->
	      <input #inputText class="form-control" placeholder="금액을 입력해주세요." value={{data.myEvent.value}} (change)="onChange($event, inputText.value, data.myEvent)">
	    <!-- </div> -->
	  </div>  
  </li>
</ul>
