li.compact {
	padding:0px;
    border-left: 0px;
    border-right: 0px;
}
li.head {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;	
    border-bottom: 0px;
	margin-bottom: -5px;
}
li.body {
	border-top: 0px;
	border-bottom: 0px;
	margin-bottom: -5px;
}
li.tail {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;	
    border-top: 0px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}
