<!-- EXAMPLE
<inputs-btns-rows   [key]="myEventService.KEY_KLASS_FEATURE_LIST"
                    [rowType]="'removable|fixed'"
                    [maxRowCnt]="3"
                    [hasButton]="true|false"
                    [isShowTitle]="true|false"
                    [title]="No Title"
                    [myEventList]="myEventListForKlassFeature" 
                    (emitter)="onChangedFromInputRow($event)"
                    [placeholderForNewRow]="'수업의 특징을 입력해주세요'">
</inputs-btns-rows>
-->
<div  *ngIf="isShowTitle" 
    [ngClass]="{'no-l':isNoSpace,'no-t':isNoSpace}"
    class="btn-box text-left info">
  <label class="title">{{title}}</label>
</div>
<ul class="list-group my-style" 
    *ngIf="myRemovableBtnList">
  
  <li   *ngFor="let myBtn of myRemovableBtnList; let i = index"
        class="list-group-item compact" 
        [ngClass]="{'head':i === 0,'body':i !== 0}" >

    <!-- 열의 갯수가 이벤트 리스트의 갯수에 고정 -->
    <input-btns-row *ngIf="rowType=='fixed'"
                    [type]="rowType"
                    [myEventKeyEnterCallback]="myBtn.myEvent"
                    [inputText]="myBtn.myEvent.value"
                    (emitter)="onChangeFromChild($event)">
    </input-btns-row>

    <input-btns-row *ngIf="rowType=='removable'"
                    [type]="rowType"
                    [myEventKeyEnterCallback]="myBtn.myEvent"
                    [myButton]="myBtn"
                    [inputText]="myBtn.myEvent.value"
                    (emitter)="onChangeFromChild($event)">
    </input-btns-row>

  </li>

  <!-- 열을 추가하는 입력을 받는 창 -->
  <li class="list-group-item compact body"
      *ngIf="myRemovableBtnList.length < maxRowCnt">    
    <input-btns-row *ngIf="rowType=='removable'"
                    [type]="rowType"
                    [myEventKeyEnterCallback]="myEvent"
                    [myButtonList]="myAddBtnList"
                    [placeholder]="placeholderForNewRow"
                    (emitter)="onChangeFromChild($event)">
    </input-btns-row>
  </li>

  <li *ngIf="hasButton" class="list-group-item compact tail">

    <div class="btn-group" role="group" aria-label="..." style="margin:5px;">
      <button (click)="dismiss($event)" type="button" class="btn btn-default">닫기</button>
      <button *ngIf="!isDisabledSave" (click)="onClickSave($event)" type="button" class="btn btn-default" >저장하기</button>
      <button *ngIf="isDisabledSave" type="button" class="btn btn-default" disabled="disabled">저장하기</button>
    </div>

  </li>
</ul>
