<!--
<single-input-view 		[cageWidth]="cageWidth"
						[type]="'input'|'textarea'|'removableRow'"
              			[myEvent]="myEventSingleInput"
              			(emitter)="onChangedFromChild($event)">
</single-input-view>
-->
<div 	class="form-group" 
		style="margin-bottom:0px;"
		[style.padding]="type!='removableRow'?'5px':'0px'"
		[style.width]="cageWidthStr">

	<input 	#inputText
			*ngIf="type=='input'"
			class="form-control" 
			placeholder={{myEvent.title}}
			[(ngModel)]="myEvent.value" (ngModelChange)="onChangeInputText(inputText.value)"
			(change)="onChange($event, inputText.value)">

	<textarea 	#textareaText
				*ngIf="type=='textarea'"
				rows="6"
				class="form-control single-input" 
				placeholder={{myEvent.title}}
				[(ngModel)]="myEvent.value" (ngModelChange)="onChangeInputText(textareaText.value)"
				(change)="onChange($event, textareaText.value)">
	</textarea>
	
	<!-- 삭제 기능이 있는 입력 열 -->
    <input-btns-row *ngIf="type=='removableRow'"
    				[myEventList]="myEvenListBtns"
    				[myEventKeyEnter]="myEvent"
    				[inputText]="myEvent.value"
                    [type]="'button'"
                    (emitter)="onChangeFromChild($event)">
    </input-btns-row>

				
</div>  
