<div class="btn-box text-left info">
	<label class="title">이름</label>

</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		class="btn-box radius-border">

	<!-- input -->
	<input 	*ngIf="!isDisabled"
			#input
			(click)="onClick($event, input)"
			(focus)="onFocus($event, password)"
			(blur)="onBlur($event, input, tooltip)"
			(keyup)="onKeyup($event, input, tooltip)"
			(keydown.tab)="onKeydownTab($event)"
			(keydown.shift.tab)="onKeydownTab($event)"
			value={{inputStrPrev}}
			class="form-control input-glass" 
			placeholder="이름">

	<!-- input-disabled -->
	<input 	*ngIf="isDisabled"
			disabled="disabled" 
			value={{inputStrPrev}}
			class="form-control input-glass" 
			placeholder="이름">

	
	<!-- icon - warning -->
	<span 	*ngIf="isWarning"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
			
	<!-- tooltip -->
	<div 	#tooltip
			class="tooltip top" 
			[style.top]="topWarning + 'px'"
			[style.left]="leftWarning + 'px'"
			style="opacity:1;"
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isSuccessInput,'tooltip-warning-arrow':!isSuccessInput}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isSuccessInput,'tooltip-warning-inner':!isSuccessInput}">{{tooltipHeadMsg}}</div> 

	</div>

</div>