<!-- 비밀번호 -->
<div 	[style.width]="(width + 10) + 'px'"
		class="btn-box text-left info">
	<label class="title">{{titleHead}}</label>
	<small 	*ngIf="isShowGuide"
			class="password-desc">6 ~ 16자리의 알파벳 소문자,숫자,특수기호</small>
</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		[style.width]="(width) + 'px'"
		class="btn-box radius-border">
	<input 	#password
			(click)="onClickPassword($event, password)"
			(blur)="onBlurPassword($event, password, tooltip)"
			(focus)="onFocusPassword($event, password)"
			(keydown.tab)="onKeydownTabPassword($event, password)"
			(keydown.shift.tab)="onKeydownTabShiftPassword($event, password)"
			(keyup.enter)="onKeyupEnter($event)"
			(keyup)="onKeyupPassword($event, password, tooltip)"
			[(ngModel)]="ngModelPW"
			required
			type="password"
			class="form-control input-glass" 
			placeholder={{placeholderHead}}>

	<!-- tooltip -->
	<div 	#tooltip
			[ngClass]="{'show-my-tooltip':isShowTooltip,'hide-my-tooltip':!isShowTooltip}"
			id="tooltip-password"
			class="tooltip top"
			role="tooltip"> 
		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isValid,'tooltip-warning-arrow':!isValid}"
				></div> 
		<div 	class="tooltip-inner" 
				(change)="onChangeTooltip($event, tooltip)"
				[ngClass]="{'tooltip-success-inner':isValid,'tooltip-warning-inner':!isValid}">{{tooltipMsg}}</div> 
	</div>

	<!-- warning sign -->
	<span 	*ngIf="isWarning"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
</div>
