<div>
	<!-- 현재 패스워드 -->
	<password-single
	[isShowGuide]="true"
	[eventKey]="eventKeyHead"
	[title]="'현재 비밀번호'"
	[placeholder]="'현재 비밀번호를 입력해주세요'"
	[width]="380"
	(emitter)="onChangedFromChild($event)">
	</password-single>
</div>
<div>
	<!-- 새로운 패스워드 -->
	<password-single
	[eventKey]="eventKeyBody"
	[title]="'새로운 비밀번호'"
	[placeholder]="'새로운 비밀번호를 입력해주세요'"
	[width]="380"
	(emitter)="onChangedFromChild($event)">
	</password-single>
</div>
<div>
	<!-- 새로운 패스워드 재입력 -->
	<password-single
	[eventKey]="eventKeyTail"
	[title]="'새로운 비밀번호 확인'"
	[placeholder]="'새로운 비밀번호를 다시 입력해주세요'"
	[width]="380"
	(emitter)="onChangedFromChild($event)">
	</password-single>
</div>