<div>
	<div class="cal-container"> 
		<table class="table cal"> 

			<tbody> 
				<tr>
					<td class="cal-cell" colspan="7" style="border-top: 0px;">
						<span class="cal-date">10월 ~ 11월</span>
					</td> 
				</tr>
				<tr>
					<td class="cal-cell"><span class="cal-date">Sun</span></td> 
					<td class="cal-cell"><span class="cal-date">Mon</span></td>
					<td class="cal-cell"><span class="cal-date">Tue</span></td>
					<td class="cal-cell">
						<span class="cal-date cal-day-picked">Wed</span>
					</td>
					<td class="cal-cell"><span class="cal-date">Thu</span></td>
					<td class="cal-cell"><span class="cal-date">Fri</span></td>
					<td class="cal-cell"><span class="cal-date">Sat</span></td>
				</tr> 
				<tr> 
					<td class="cal-cell">&nbsp;</td> 
					<td class="cal-cell">&nbsp;</td>
					<td class="cal-cell">&nbsp;</td>
					<td class="cal-cell">&nbsp;</td>
					<td class="cal-cell"><span class="cal-date">1</span></td>
					<td class="cal-cell"><span class="cal-date">2</span></td>
					<td class="cal-cell"><span class="cal-date">3</span></td>
				</tr> 
				<tr> 
					<td class="cal-cell"><span class="cal-date">4</span></td> 
					<td class="cal-cell"><span class="cal-date">5</span></td>
					<td class="cal-cell"><span class="cal-date">6</span></td>
					<td class="cal-cell">
						<span class="badge cal-date cal-date-picked">
							<div class="badge-cage">7</div>
						</span>
					</td>
					<td class="cal-cell"><span class="cal-date">8</span></td>
					<td class="cal-cell"><span class="cal-date">9</span></td>
					<td class="cal-cell"><span class="cal-date">10</span></td>
				</tr> 
				<tr> 
					<td class="cal-cell"><span class="cal-date">11</span></td> 
					<td class="cal-cell"><span class="cal-date">12</span></td>
					<td class="cal-cell"><span class="cal-date">13</span></td>
					<td class="cal-cell">
						<span class="badge cal-date cal-date-picked">
							<div class="badge-cage">14</div>
						</span>
					</td>
					<td class="cal-cell"><span class="cal-date">15</span></td>
					<td class="cal-cell"><span class="cal-date">16</span></td>
					<td class="cal-cell"><span class="cal-date">17</span></td>
				</tr> 
				<tr> 
					<td class="cal-cell"><span class="cal-date">18</span></td> 
					<td class="cal-cell"><span class="cal-date">19</span></td>
					<td class="cal-cell"><span class="cal-date">21</span></td>
					<td class="cal-cell">
						<span class="badge cal-date cal-date-picked">
							<div class="badge-cage">22</div>
						</span>
					</td>
					<td class="cal-cell"><span class="cal-date">23</span></td>
					<td class="cal-cell"><span class="cal-date">24</span></td>
					<td class="cal-cell"><span class="cal-date">25</span></td>
				</tr> 
				<tr> 
					<td class="cal-cell"><span class="cal-date">26</span></td> 
					<td class="cal-cell"><span class="cal-date">27</span></td>
					<td class="cal-cell"><span class="cal-date">28</span></td>
					<td class="cal-cell">
						<span class="badge cal-date cal-date-picked">
							<div class="badge-cage">29</div>
						</span>
					</td>
					<td class="cal-cell"><span class="cal-date">30</span></td>
					<td class="cal-cell"><span class="cal-date">31</span></td>
					<td class="cal-cell">&nbsp;</td>
				</tr> 

			</tbody> 

		</table> 
	</div>	
</div>