.cal-container{
	width:100%;
}
.cal-cell {
	width:10%;
	text-align: center;
    border-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.cal-cell.day {
    border-bottom: 1px solid #ccc;
}
.cal-date {
	font-size: 14px
}
.cal-day-picked {
    color: #e85c41;
}
.cal-expired {
    color: #c9c9c9;   
}
.sat {
    color: #31708f;
}
.sun {
    color: #f00;
}

.cal-date-picked {
    background-color: #e85c41;
    color: #fff;
}
.badge-cage {
    width: 15px;
    height: 15px;	
}
.table.cal {
	margin-bottom: 0px;
    border-collapse:separate;
    border:solid 1px #e85c41;
    border-radius:6px;
    -moz-border-radius:6px;	
}
.first_week_of_month {
    border-top: 1px solid #ccc;
}
.first_day_of_month {
    border-left: 1px solid #ccc;
}
.last_week_of_month {
    border-bottom: 1px solid #ccc;
}
.month_indicator {
    position: absolute;
    font-size: 50px;
    opacity: .4;
    color: #777;
}