<div>
	<div class="cal-container"> 
		<table class="table cal"> 

			<tbody> 

				<tr>
					<!-- <td class="cal-cell">&nbsp;</td> -->
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'sun'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">일</div>
						</span>
						<span *ngIf="dayBegin != 'sun'" class="cal-date sun">일</span>
					</td> 
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'mon'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">월</div>
						</span>
						<span *ngIf="dayBegin != 'mon'" class="cal-date">월</span>
					</td>
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'tue'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">화</div>
						</span>
						<span *ngIf="dayBegin != 'tue'" class="cal-date">화</span>
					</td>
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'wed'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">수</div>
						</span>
						<span *ngIf="dayBegin != 'wed'" class="cal-date">수</span>
					</td>
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'thu'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">목</div>
						</span>
						<span *ngIf="dayBegin != 'thu'" class="cal-date">목</span>
					</td>
					<td class="cal-cell day">
						<!-- <span *ngIf="dayBegin == 'fri'" class="cal-date cal-day-picked">금</span> -->
						<span *ngIf="dayBegin == 'fri'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">금</div>
						</span>
						<span *ngIf="dayBegin != 'fri'" class="cal-date">금</span>
					</td>
					<td class="cal-cell day">
						<span *ngIf="dayBegin == 'sat'" class="badge cal-date cal-date-picked">
							<div class="badge-cage">토</div>
						</span>
						<span *ngIf="dayBegin != 'sat'" class="cal-date sat">토</span>
					</td>
				</tr> 

				<tr *ngFor="let row of calendarTable"> 

					<td 	*ngFor="let field of row" 
							[class.first_day_of_month]="field!=null && field.yyyy_mm_dd_DD != null && field.isFirstDayOfMonth  && !field.isFirstDay"
							[class.first_week_of_month]="field!=null && field.yyyy_mm_dd_DD != null && field.isFirstWeekOfMonth  && !field.isFirstDay"
							[class.last_week_of_month]="field!=null && field.yyyy_mm_dd_DD != null && field.isLastWeekOfMonth  && !field.isLastDay && !field.isLastWeek"
							class="cal-cell">
						<!-- 빈 날짜 공간 -->
						<div *ngIf="field == null">
							<span>&nbsp;</span>
						</div>

						<div *ngIf="field != null && field.isMonthIndicator" class="month_indicator">{{field.month}}</div>

						<!-- 날짜 정보 -->
						<div *ngIf="field != null && field.yyyy_mm_dd_DD != null">

							<!-- 수업있음. 날짜 오늘보다 전 -->
							<span 	*ngIf="field.hasKlass && !field.isExpired"
									class="badge cal-date cal-date-picked">
								<div class="badge-cage">{{field.date}}</div>
							</span>

							<!-- 수업있음. 날짜 지났음. -->
							<span 	*ngIf="field.hasKlass && field.isExpired" 
									class="badge cal-date cal-expired">
								<div class="badge-cage">{{field.date}}</div>
							</span>

							<span 	*ngIf="!field.hasKlass" 
									[class.sun]="field.day=='Sun'" 
									[class.sat]="field.day=='Sat'"
									class="cal-date">{{field.date}}</span>
						</div>
					</td> 
				</tr> 

			</tbody> 

		</table> 
	</div>	
</div>