<header class="main-navigation">
	<nav *ngIf="toggleTopMenu" class="navbar navbar-default cc-navbar">
	  <div class="container-fluid">

	    <!-- Brand and toggle get grouped for better mobile display / box-shadow: 0 0 2px rgba(6,8,8,0.15);-->
	    <div class="navbar-header">
	      <a class="navbar-brand cc-logo-anchor" href="#">
	      	<img *ngIf="isAdmin===true" class="watchtower" src={{imageService.get(imageService.watchTowerUrl)}}>
	      	<img class="cc-logo-image" alt="Brand" src="{{imageService.get(imageService.cafeclassLogoUrl)}}">
	      </a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse">

			<!-- 버튼 / 로그인,가입하기 -->
			<ul *ngIf="!loginUser" class="nav navbar-nav navbar-right">
				<li>
					<button type="button" 
							(click)="onClickSignupBtn($event)"
							class="btn btn-signin navbar-btn cc-margin-r-nav-btn">가입하기</button>
				</li>
				<li>
					<a routerLink="/login" routerLinkActive="active">로그인</a>
				</li>
			</ul>

			<!-- 유저 정보, 버튼 / 로그아웃  -->
			<ul *ngIf="loginUser" class="nav navbar-nav navbar-right">
				<!-- 우측 메뉴 탭 / 내정보 -->
				<li>
					<a routerLink="/user/my" routerLinkActive="active">내정보</a>
				</li>
				<li>
					<!-- 유저 섬네일만 노출 -->
					<img 	#thumbnail
							*ngIf="loginUser.thumbnail" 
							(error)="onErrorThumbnail($event, thumbnail)"
							(click)="onClickThumbnail($event)"
							src={{loginUser.thumbnail}} 
							alt="..." 
							class="img-circle my-thumbnail">
				</li>
				<li>
					<a routerLink="/logout" routerLinkActive="active">로그아웃</a>
				</li>
			</ul>

	    </div><!-- /.navbar-collapse -->


	  </div><!-- /.container-fluid -->
	</nav>
</header>

<section class="hide_overflow-x cc-section" id="home">
	<router-outlet></router-outlet>
</section>

<my-footer></my-footer>
<!--
<footer aria-label="Footer: Copyright, Privacy and Terms" class="copyright" role="contentinfo">FOOTER</footer>
-->

<!-- PHP Error Display For Debug -->
<div *ngIf="isAdmin" class="row">
	<div *ngFor="let errorMsg of errorMsgArr">
		<div [innerHTML]="errorMsg | safeHtml"></div>
	</div>
</div>
