<div class="btn-box text-left info">
	<label class="title">이름</label>

	<div 	*ngIf="isShowPopover"
			class="popover left"
			[style.top]="top + 'px'"
			[style.left]="left + 'px'"
			[ngClass]="{'popover-show':isFocusInfo}"> 
		<div class="arrow"></div> 
		<h3 class="popover-title">이름이 왜 필요한가요?</h3> 
		<div class="popover-content"> 
			<p>강사님께서 여러분을 부를 때 사용할 이름입니다. 닉네임이 있다면 닉네임을 먼저 사용합니다.2 ~ 5자리의 한글만 가능합니다.</p> 
		</div> 
	</div>	
	<span 	*ngIf="isShowPopover"
			class="glyphicon glyphicon-info-sign info"
			[ngClass]="{'popover-show-info':isFocusInfo}"
			(mouseover)="onMouseOverInfo($event)"
			(mouseout)="onMouseOutInfo($event)"></span>
</div>
<div 	[ngClass]="{'rb-focus':isFocus,'rb-blur':!isFocus}"
		class="btn-box radius-border">
	<input 	#input
			(click)="onClick($event, input)"
			(focus)="onFocus($event, password)"
			(blur)="onBlur($event, input)"
			(keyup)="onKeyup($event, input)"
			(keydown.tab)="onKeydownTab($event)"
			(keydown.shift.tab)="onKeydownTab($event)"
			value={{inputStrPrev}}
			class="form-control input-glass" 
			placeholder="이름">
	
	<!-- icon - warning -->
	<span 	*ngIf="isWarning"
			class="glyphicon glyphicon-exclamation-sign warning"
			aria-hidden="true"></span>
			
	<!-- tooltip -->
	<div 	class="tooltip top" 
			*ngIf="tooltipHeadMsg"
			[style.top]="topWarning + 'px'"
			[style.left]="leftWarning + 'px'"
			style="opacity:1;"
			role="tooltip"> 

		<div 	class="tooltip-arrow"
				[ngClass]="{'tooltip-success-arrow':isSuccessInput,'tooltip-warning-arrow':!isSuccessInput}"
				></div> 
		<div 	class="tooltip-inner" 
				[ngClass]="{'tooltip-success-inner':isSuccessInput,'tooltip-warning-inner':!isSuccessInput}">{{tooltipHeadMsg}}</div> 

	</div>

</div>